/* Awards Animation */
$awardsRotation: 25s;

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotatingCounter {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

/* Sharing */
.Ellipse01 {
  animation: 1s linear 0s infinite normal forwards running Ellipse01;
    transform: translateX(400px) translateY(400px);
    rx: 250px;
    ry: 250px;
    opacity: 0.38;
}

.Ellipse02 {
  animation: 1s linear 0s infinite normal forwards running Ellipse02;
    transform: translateX(400px) translateY(400px);
    rx: 300px;
    ry: 300px;
    opacity: 0.25;
}

.Ellipse03 {
  animation: 1s linear 0s infinite normal forwards running Ellipse03;
    transform: translateX(400px) translateY(400px);
    rx: 350px;
    ry: 350px;
    opacity: 0.13;
}

.Ellipse04 {
  animation: 1s linear 0s infinite normal forwards running Ellipse04;
    transform: translateX(400px) translateY(400px);
    rx: 400px;
    ry: 400px;
    opacity: 0;
}

.Ellipse05 {
  animation: 1s linear 0s infinite normal forwards running Ellipse05;
    transform: translateX(400px) translateY(400px);
    rx: 200px;
    ry: 200px;
    opacity: 0.5;
}

.Ellipse06 {
  animation: 1s linear 0s infinite normal forwards running Ellipse06;
    transform: translateX(400px) translateY(400px);
    rx: 150px;
    ry: 150px;
    opacity: 0.63;
}

.Ellipse07 {
  animation: 1s linear 0s infinite normal forwards running Ellipse07;
    transform: translateX(400px) translateY(400px);
    rx: 100px;
    ry: 100px;
    opacity: 0.88;
}

@keyframes Ellipse01 {
  0% {
    transform: translateX(400px) translateY(400px);
    rx: 250px;
    ry: 250px;
    opacity: 0.38;
  }
  100% {
    transform: translateX(400px) translateY(400px);
    rx: 200px;
    ry: 200px;
    opacity: 0.5;
  }
}

@keyframes Ellipse02 {
  0% {
    transform: translateX(400px) translateY(400px);
    rx: 300px;
    ry: 300px;
    opacity: 0.25;
  }
  100% {
    transform: translateX(400px) translateY(400px);
    rx: 250px;
    ry: 250px;
    opacity: 0.38;
  }
}

@keyframes Ellipse03 {
  0% {
    transform: translateX(400px) translateY(400px);
    rx: 350px;
    ry: 350px;
    opacity: 0.13;
  }
  100% {
    transform: translateX(400px) translateY(400px);
    rx: 300px;
    ry: 300px;
    opacity: 0.25;
  }
}

@keyframes Ellipse04 {
  0% {
    transform: translateX(400px) translateY(400px);
    rx: 400px;
    ry: 400px;
    opacity: 0;
  }
  100% {
    transform: translateX(400px) translateY(400px);
    rx: 350px;
    ry: 350px;
    opacity: 0.13;
  }
}

@keyframes Ellipse05 {
  0% {
    transform: translateX(400px) translateY(400px);
    rx: 200px;
    ry: 200px;
    opacity: 0.5;
  }
  100% {
    transform: translateX(400px) translateY(400px);
    rx: 150px;
    ry: 150px;
    opacity: 0.63;
  }
}

@keyframes Ellipse06 {
  0% {
    transform: translateX(400px) translateY(400px);
    rx: 150px;
    ry: 150px;
    opacity: 0.63;
  }
  100% {
    transform: translateX(400px) translateY(400px);
    rx: 100px;
    ry: 100px;
    opacity: 0.88;
  }
}

@keyframes Ellipse07 {
  0% {
    transform: translateX(400px) translateY(400px);
    rx: 100px;
    ry: 100px;
    opacity: 0.88;
  }
  100% {
    transform: translateX(400px) translateY(400px);
    rx: 50px;
    ry: 50px;
    opacity: 1;
  }
}
