$textColorPrimary: #050505;
$textColorSecondary: #4B4B4B;
$textColorSecondaryOnDark: #8C8C8C;

$lightBlue: #2282F4;
$blue: #0059C1;
$blueAccessible: #0040E6;
$blackBackground: #121212;

$selectionColor: rgba(34, 130, 244, 0.1);

/* Deprecated */
$textColorTertiary: #B2B2B2;

$borderColor: #ECECEC;
$lightBackground: #FFFFFF;
$darkBackground: #101010;

$purple: #8F00FF;
