$textColorPrimary: #050505;
$textColorSecondary: #4B4B4B;
$textColorSecondaryOnDark: #8C8C8C;

$borderColor: #C8CBE6;
$pageBackground: #E4E9F5;

$lightBlue: #2282F4;
$blue: #215BEE;
$blueAccessible: #0040E6;
$blackBackground: #121212;
$pink: #CE1DC7;
$purple: #8F00FF;

$selectionColor: rgba(34, 130, 244, 0.1);
