$textColorPrimary: #383938;
$textColorSecondary: #6E6D7A;
$textColorTertiary: #B2B2B2;
$textColorSecondaryOnDark: #909090;

$borderColor: #ECECEC;
$lightBackground: #FFFFFF;
$darkBackground: #101010;

$selectionColor: #F5F6F9;
