$col-1: 9%;
$col-2: 17%;
$col-3: 25.5%;
$col-4: 28.6%;
$col-5: 40.45%;
$col-6: 40.45%;
$col-7: 40.45%;
$col-8: 65.6%;

$col-2-content: 12.5%;
$col-3-content: 21.5%;
$col-4-content: 29.4%;
$col-5-content: 37.2%;
$col-6-content: 45%;

$sectionPadding375: 6rem;
$sectionPadding768: 8rem;
$sectionPadding1200: 10rem;

section,
footer {
  overflow: hidden;
  padding: $sectionPadding375 0;
  position: relative;
  z-index: 10;
  text-align: center;
  @include overflowfix;
  background: $pageBackground;
}

.content-wrapper {
  @include overflowfix;
  max-width: 1440px;
  margin: 0 20px;
  position: relative;
  @include box-sizing;
}

.container {
  overflow: hidden;
  padding: 40px;
  box-sizing: border-box;
  @include borderRadius(20px);
  @include maskBorderRadiusWebkit;

  > img {
    width: 100%;
    margin: 0;
    border: 0;
  }

  &.bottom-clip {
    padding-bottom: 0;
    font-size: 0;
  }
}

@media screen and (min-width: 375px) {
  .content-wrapper {
    margin: 0 auto;
    width: 85%;
  }
}

@media screen and (min-width: 414px) {
  .content-wrapper {
    width: 80%;
  }
}

@media screen and (min-width: 500px) {
  .content-wrapper {
    width: 70%;
  }
}

@media screen and (min-width:767px) {
  .content-wrapper {
    width: 88%;
  }

  section,
  footer {
    padding: $sectionPadding768 0;

    &.introduction {
      padding-top:  $sectionPadding768 / 2;
    }
  }
}

@media screen and (min-width: 1023px) {
  .display-flex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  section, footer {
    text-align: left;

    &.introduction {
      padding-bottom: 0;
    }
  }
}

@media screen and (min-width:1200px) {
  section {
    padding: $sectionPadding1200 0;

    &.introduction {
      padding-top: 4rem;
      padding-bottom: 0;
    }
  }

  .container {
    @include borderRadius(30px);
  }
}
