@import "reset";
@import "mixins";
@import "colors";

$navDuration: .3s;
$menuDuration: 1200ms;

/**
 * Navigation
 */
.no-js  {
  #nav-links {
    opacity: 1;
    pointer-events: all;
  }

  nav {
    height: 200px;
  }

  #hamburger-icon {
    display :none;
  }
}

nav {
  display: flex;
  flex-grow: row;
  flex-wrap: nowrap;
  position: relative;
  z-index: 9999;
  overflow: hidden;
  height: 60px;
  background: $lightBackground;
  @include transition(height, .25s, ease-in-out);

  .content-wrapper {
    padding: 1em 0;
    border-bottom: 1px solid #eaeaea;
  }

  &.dark {
    background: $darkBackground;

    .content-wrapper {
      border-bottom: 1px solid #353535;
    }

    ul a:link, a:visited {
      color: $textColorSecondaryOnDark;
      @include transition(all, .15s, ease-in-out);

      &:hover,
      &.active {
        color: white;
      }
    }
  }

  .logo {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 1em;
    left: 0;
  }

  ul {
    opacity: 0;
    pointer-events: none;
    flex: 1;
    @include transition(opacity, 0.25s, ease-in-out);

    &:first-child {
      margin-top: 60px;
    }

    li {
      display: block;
      text-align: center;
    }

    a:link, a:visited {
      font-weight: 500;
      font-size: 0.85em;
      color: $textColorSecondary;
      display: inline-block;
      padding: .6em 0;
      vertical-align: middle;
      @include transition(all, .15s, ease-in-out);

      &:hover,
      &.active {
        color: $textColorPrimary;
        text-decoration: none;
      }
    }
  }
}

nav.active {
  height: 280px;

  &.slim {
    height: 220px;
  }

  ul {
    transition-delay: 200ms;
    opacity: 1;
    pointer-events: all;
  }
}

#hamburger-icon {
  position: absolute;
  top: 1.2em;
  right: 4.5%;
  width: 20px;
  height: 20px;
  z-index: 9999;

  span {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: $textColorSecondary;
    opacity: 1;
    @include transition(all, .25s, ease-in-out);

    &.top {
      top: 20%;
    }
    &.middle {
      top: 50%;
    }
    &.bottom {
      top: 80%;
    }
  }

  &.active {
    span {
      top: 50%;
    }
    .top {
      @include rotate(45deg);
    }
    .bottom {
      @include rotate(-45deg);
    }
    .middle {
      opacity: 0;
    }
  }
}

@media screen and (min-width: 675px) {

}

@media screen and (min-width: 768px) {
  .no-js  {
    nav {
      height: auto;
    }
  }

  nav {
    height: auto;

    .content-wrapper {
      padding: 0;
    }

    .logo {
      margin-top: 1.6em;
      width: 40px;
      height: 40px;
      position: relative;
      top: auto;
      left: auto;
    }

    &.slim {
      ul:first-child li:first-child a {
        background: transparent url("../images/back_arrow.svg") 0 .5em no-repeat;
        padding-left: 18px;

        &:hover {
          background-image:url("../images/back_arrow_hover.svg");
        }
      }
    }

    ul {
      opacity: 1;
      pointer-events: all;

      &:first-child {
        text-align: left;
        margin-top: 0;

        li {
          margin-right: 2em;
        }
      }

      &:last-child {
        text-align: right;

        li {
          margin-left: 2em;
        }
      }

      &:last-child {
        text-align: right;

        li {
          margin-left: 2em;
        }
      }

      li {
        display: inline-block;
        padding: 2em 0;
      }

      a:link, a:visited {
        padding: .6em 0;
      }
    }
  }

  #hamburger-icon {
    display: none;
  }
}

@media screen and (min-width: 1024px) {

}
