@import "reset";
@import "mixins";
@import "colors";

$navDuration: .3s;
$menuDuration: 1200ms;

nav {
  li {
    display: inline-block;
    margin-right: 2rem;

    a {
      padding: 2rem 0;
      display: inline-block;
    }

    &:first-child {
      a {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.35rem;
      }
    }
  }

  .button {
    display: none;
  }

  .content-wrapper {
    padding: 1em 0;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  nav {
    .content-wrapper {
      margin: 0 auto;
      width: 88%;
    }

    .button {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 2rem;
    }
  }
}

@media screen and (min-width: 1024px) {

}
