@import "reset";
@import "mixins";
@import "colors";

nav {
  li {
    display: inline-block;
    margin-right: 1rem;

    a {
      font-size: 0.8rem;
      padding: 1em 0;
      display: inline-block;
    }

    &:first-child {
      a {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.35rem;
      }
    }
  }

  .button {
    font-size: 0.8rem;
    display: none;
  }

  .content-wrapper {
    padding: 2em 0;
  }
}

@media screen and (min-width: 500px) {
  nav {
    .button {
      display: inline-block;
      position: absolute;
      right: -5px;
      top: 2.5em;
    }
  }
}

@media screen and (min-width: 768px) {
  nav {
    li {
      margin-right: 2rem;
    }

    .button {
      right: 0;
      top: 1.25em;
    }

    .content-wrapper {
      padding: 1em 0;
    }
  }
}

@media screen and (min-width: 1024px) {

}
