html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * Navigation
 */
.no-js #nav-links {
  opacity: 1;
  pointer-events: all; }
.no-js nav {
  height: 200px; }
.no-js #hamburger-icon {
  display: none; }

nav {
  display: flex;
  flex-grow: row;
  flex-wrap: nowrap;
  position: relative;
  z-index: 9999;
  overflow: hidden;
  height: 60px;
  background: #FFFFFF;
  transition: height 0.25s ease-in-out;
  -webkit-transition: height 0.25s ease-in-out;
  -moz-transition: height 0.25s ease-in-out;
  -ms-transition: height 0.25s ease-in-out;
  -o-transition: height 0.25s ease-in-out; }
  nav .content-wrapper {
    padding: 1em 0;
    border-bottom: 1px solid #eaeaea; }
  nav.dark {
    background: #101010; }
    nav.dark .content-wrapper {
      border-bottom: 1px solid #353535; }
    nav.dark ul a:link, nav.dark a:visited {
      color: #909090;
      transition: all 0.15s ease-in-out;
      -webkit-transition: all 0.15s ease-in-out;
      -moz-transition: all 0.15s ease-in-out;
      -ms-transition: all 0.15s ease-in-out;
      -o-transition: all 0.15s ease-in-out; }
      nav.dark ul a:link:hover, nav.dark ul a:link.active, nav.dark a:visited:hover, nav.dark a:visited.active {
        color: white; }
  nav .logo {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 1em;
    left: 0; }
  nav ul {
    opacity: 0;
    pointer-events: none;
    flex: 1;
    transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out; }
    nav ul:first-child {
      margin-top: 60px; }
    nav ul li {
      display: block;
      text-align: center; }
    nav ul a:link, nav ul a:visited {
      font-weight: 500;
      font-size: 0.85em;
      color: #6E6D7A;
      display: inline-block;
      padding: .6em 0;
      vertical-align: middle;
      transition: all 0.15s ease-in-out;
      -webkit-transition: all 0.15s ease-in-out;
      -moz-transition: all 0.15s ease-in-out;
      -ms-transition: all 0.15s ease-in-out;
      -o-transition: all 0.15s ease-in-out; }
      nav ul a:link:hover, nav ul a:link.active, nav ul a:visited:hover, nav ul a:visited.active {
        color: #383938;
        text-decoration: none; }

nav.active {
  height: 280px; }
  nav.active.slim {
    height: 220px; }
  nav.active ul {
    transition-delay: 200ms;
    opacity: 1;
    pointer-events: all; }

#hamburger-icon {
  position: absolute;
  top: 1.2em;
  right: 4.5%;
  width: 20px;
  height: 20px;
  z-index: 9999; }
  #hamburger-icon span {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: #6E6D7A;
    opacity: 1;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out; }
    #hamburger-icon span.top {
      top: 20%; }
    #hamburger-icon span.middle {
      top: 50%; }
    #hamburger-icon span.bottom {
      top: 80%; }
  #hamburger-icon.active span {
    top: 50%; }
  #hamburger-icon.active .top {
    transform: rotate3d(0, 0, 1, 45deg);
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    -moz-transform: rotate3d(0, 0, 1, 45deg);
    -ms-transform: rotate3d(0, 0, 1, 45deg); }
  #hamburger-icon.active .bottom {
    transform: rotate3d(0, 0, 1, -45deg);
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    -moz-transform: rotate3d(0, 0, 1, -45deg);
    -ms-transform: rotate3d(0, 0, 1, -45deg); }
  #hamburger-icon.active .middle {
    opacity: 0; }

@media screen and (min-width: 768px) {
  .no-js nav {
    height: auto; }

  nav {
    height: auto; }
    nav .content-wrapper {
      padding: 0; }
    nav .logo {
      margin-top: 1.6em;
      width: 40px;
      height: 40px;
      position: relative;
      top: auto;
      left: auto; }
    nav.slim ul:first-child li:first-child a {
      background: transparent url("../images/back_arrow.svg") 0 0.5em no-repeat;
      padding-left: 18px; }
      nav.slim ul:first-child li:first-child a:hover {
        background-image: url("../images/back_arrow_hover.svg"); }
    nav ul {
      opacity: 1;
      pointer-events: all; }
      nav ul:first-child {
        text-align: left;
        margin-top: 0; }
        nav ul:first-child li {
          margin-right: 2em; }
      nav ul:last-child {
        text-align: right; }
        nav ul:last-child li {
          margin-left: 2em; }
      nav ul:last-child {
        text-align: right; }
        nav ul:last-child li {
          margin-left: 2em; }
      nav ul li {
        display: inline-block;
        padding: 2em 0; }
      nav ul a:link, nav ul a:visited {
        padding: .6em 0; }

  #hamburger-icon {
    display: none; } }
li {
  list-style: none; }

em {
  font-style: italic;
  text-transform: none; }

.block {
  display: block; }

.bold {
  font-weight: 600; }

.optional-new-line {
  display: inline; }

.centered {
  text-align: center; }

section {
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px); }

.will-reveal {
  opacity: 0;
  transform: translate3d(0px, 50px, 0px); }

a.button {
  padding: 1em 2em;
  background: #101010;
  color: white;
  display: inline-block;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0);
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -ms-border-radius: 30px;
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out; }
  a.button.light {
    background: #FFFFFF;
    color: #383938; }
  a.button:hover {
    background: #454545;
    color: white;
    text-decoration: none;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.3); }

/**
 * No Script States
 */
.no-js .answer {
  display: block; }
.no-js .question .arrow,
.no-js .invisible {
  display: none; }
.no-js .introduction .large-text {
  padding-top: 12em; }

/* Removed with JS for noscript support*/
.hidden {
  display: none; }

.lazy-load {
  transition: opacity .25s ease-in-out; }

::selection {
  background: #F5F6F9; }

::-moz-selection {
  background: #F5F6F9; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #b1b1b1; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #b1b1b1;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #b1b1b1;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #b1b1b1; }

:placeholder-shown {
  color: #b1b1b1; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome and Opera */ }

img {
  transition: opacity .2s ease-out, transform .2s ease-in-out;
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  opacity: 1; }
  img.invisible {
    opacity: 0; }
  img.full-width {
    width: 100%; }

.iphone {
  position: relative; }

.device-bezel {
  width: 100%;
  position: relative;
  z-index: 2; }

.device-media {
  position: absolute;
  width: 76.8%;
  left: 11.55%;
  z-index: 1;
  top: 6.15%; }

/** Global Elements **/
section {
  overflow: hidden;
  padding: 6em 0;
  background: #FFFFFF;
  position: relative;
  z-index: 1; }
  section:after {
    content: "";
    clear: both;
    display: block; }
  section.has-background {
    padding: 4em 0; }
  section.no-padding {
    padding: 0; }

.device-bezel {
  width: 100%; }

hr.light {
  border: 0;
  border-top: 1px solid #454545; }

hr {
  border: 0;
  border-top: 1px solid #ECECEC; }

@media screen and (min-width: 768px) {
  .display-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap; }
    .display-flex .left-content {
      flex: 1; }

  section {
    padding: 8em 0; }
    section.has-background {
      padding: 5em 0; }

  .content-wrapper.padding-top {
    padding-top: 5em; } }
@media screen and (min-width: 1200px) {
  section {
    padding: 10em 0; }
    section.has-background {
      padding: 6em 0; }

  .content-wrapper.padding-top {
    padding-top: 6em; } }
html,
body {
  color: #383938;
  font-size: 16px;
  background-color: #101010;
  font-family: "Avenir Next", "Poppins", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Helvetica", "Gill Sans", sans-serif;
  /* Fix for bolder font rendering on Firefox */
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  width: 100vw;
  overflow-x: hidden; }

body {
  counter-reset: item;
  -webkit-font-smoothing: antialiased; }
  body:before {
    -webkit-font-smoothing: subpixel-antialiased; }

a {
  text-decoration: none;
  color: #383938; }

a:hover {
  text-decoration: underline;
  color: #383938; }

p {
  padding-bottom: 1em; }
  p:last-child {
    padding-bottom: 0; }

h1, h2, h3, h4 {
  line-height: 1.1em;
  font-weight: 400; }

h1 {
  font-size: 2em;
  letter-spacing: -0.05em; }

h2, h3 {
  font-size: 1.35em;
  letter-spacing: -.04em; }

h4 {
  font-size: 1.1em;
  font-weight: 600; }

p {
  font-size: 1em;
  line-height: 1.4; }

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2em;
    letter-spacing: -0.05em; }

  h2, h3 {
    font-size: 1.6em;
    letter-spacing: -.04em; } }
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 3.7em;
    letter-spacing: -0.05em; }

  h2, h3 {
    font-size: 2.25em;
    letter-spacing: -.04em; }

  p {
    font-size: 1.1em; } }
/*

         888          888               888
         888          888               888
         888          888               888
 .d88b.  888  .d88b.  88888b.   8888b.  888
d88P"88b 888 d88""88b 888 "88b     "88b 888
888  888 888 888  888 888  888 .d888888 888
Y88b 888 888 Y88..88P 888 d88P 888  888 888
 "Y88888 888  "Y88P"  88888P"  "Y888888 888
     888
Y8b d88P
 "Y88P"

*/
.content-wrapper {
  width: 91%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box; }
  .content-wrapper:after {
    content: "";
    clear: both;
    display: block; }
  .content-wrapper.col-2 {
    width: 76%; }
  .content-wrapper.col-3 {
    width: 68%; }

.left-content > img,
.right-content > img {
  width: 100%; }

.xlarge {
  font-size: 1.3em;
  letter-spacing: -0.01em; }

.large {
  font-size: 1.1em;
  letter-spacing: -0.01em; }

.small {
  font-size: 0.8em; }

hr.single {
  width: 76%;
  margin: 0 auto;
  border-top: 1pox solid #ECECEC; }

hr.col-1 {
  width: 91%;
  margin: 0 auto;
  border-top: 1pox solid #ECECEC; }

h1 + h2 {
  margin-top: 1em; }

h2 + p {
  margin-top: 1em; }

p + h2 {
  margin-top: 1em; }

p {
  color: #6E6D7A; }

.paragraphs {
  padding-top: 6em; }
  .paragraphs h1 {
    margin-bottom: 2em; }
  .paragraphs h1, .paragraphs h2, .paragraphs h3, .paragraphs h4, .paragraphs h5, .paragraphs p {
    width: 100%; }

.card {
  display: table;
  padding: 30px;
  background: #EAF1FF;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -ms-border-radius: 12px; }
  .card h4 {
    padding-bottom: 4em;
    line-height: 1.3; }
  .card ul {
    color: #6E6D7A; }
    .card ul li {
      line-height: 1.5; }
    .card ul:last-child {
      padding-top: 1em;
      border-top: 1px solid rgba(0, 0, 0, 0.1); }
      .card ul:last-child .value {
        color: #383938;
        font-weight: 600; }
      .card ul:last-child .label {
        display: block; }

.table {
  display: table;
  width: 100%; }
  .table li {
    display: table-row; }
  .table .value,
  .table .label {
    padding-bottom: 1em;
    display: table-cell; }
  .table .label {
    color: #6E6D7A; }
  .table .value {
    text-align: right;
    color: #383938; }

h2.large {
  font-size: 3.6em;
  letter-spacing: -0.04em; }

.mobile {
  display: block; }

.desktop {
  display: none; }

blockquote {
  border-left: 4px solid #cdcdcd;
  padding-left: 1em;
  color: #6E6D7A;
  line-height: 1.4;
  font-size: 1.2em;
  margin-bottom: 1em; }

@media screen and (min-width: 768px) {
  img.mobile {
    display: none; }

  img.desktop {
    display: block; } }
/*********************************************
 *********************************************
 *********************************************
 *********************************************
 * Homepage
 *********************************************
 *********************************************
 *********************************************
 *********************************************
 */
.introduction {
  background: #101010;
  overflow: visible;
  z-index: 2; }
  .introduction .intro-text h1 {
    color: white; }
  .introduction .intro-text p {
    color: #909090;
    padding: 1em 0;
    width: 70%; }

.hero {
  width: 100%; }

.calorie-tracking .card {
  margin: 6em 0; }

.theme-selector {
  padding: 2em 0;
  text-align: center;
  max-width: 240px;
  margin: 0 auto; }

.iphone .theme_preview.active {
  display: block; }

.iphone .theme_preview {
  display: none; }

.theme-selector li {
  display: inline-block;
  margin: 10px; }
  .theme-selector li:nth-child(1) a {
    background: #EEEEEE; }
  .theme-selector li:nth-child(2) a {
    background: #F9F7EE; }
  .theme-selector li:nth-child(3) a {
    background: #F0F0F0; }
  .theme-selector li:nth-child(4) a {
    background: #F1E8E5; }
  .theme-selector li:nth-child(5) a {
    background: #DDDEDF; }
  .theme-selector li:nth-child(6) a {
    background: #1E283B; }
  .theme-selector li:nth-child(7) a {
    background: #101010; }
  .theme-selector li:nth-child(8) a {
    background: #322865; }
  .theme-selector li:nth-child(9) a {
    background: #465471; }
  .theme-selector li:nth-child(10) a {
    background: #595B81; }
  .theme-selector li a:link, .theme-selector li a:visited {
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    font-size: 0;
    display: block;
    border-radius: 24px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    -ms-border-radius: 24px;
    border: 2px solid #ffffff;
    transition: border-color 150ms ease-in-out;
    -webkit-transition: border-color 150ms ease-in-out;
    -moz-transition: border-color 150ms ease-in-out;
    -ms-transition: border-color 150ms ease-in-out;
    -o-transition: border-color 150ms ease-in-out; }
  .theme-selector li a.selected {
    border-color: #000; }
  .theme-selector li a:hover {
    border-color: #656565; }

.dashboard {
  background: #101010;
  color: white; }
  .dashboard p {
    color: #909090; }
  .dashboard .col-1 {
    padding-top: 5em; }
  .dashboard .left-content {
    padding-bottom: 5em; }
  .dashboard hr {
    border-color: #333; }
  .dashboard h2.large {
    width: 100%; }
  .dashboard p.xlarge {
    margin-top: 1em; }

.dashboard-presets {
  padding: 5em 0; }
  .dashboard-presets li {
    text-align: center;
    color: #909090;
    padding: 2em 0;
    line-height: 2; }
    .dashboard-presets li strong {
      display: block;
      color: white; }
    .dashboard-presets li img {
      width: 90%;
      max-width: 400px;
      margin: 0 auto;
      padding-bottom: 2em;
      display: block; }

.dashboard-options {
  padding: 5em 0 5em; }
  .dashboard-options ul {
    padding-bottom: 2em; }
    .dashboard-options ul li {
      color: #909090;
      line-height: 2; }
      .dashboard-options ul li strong {
        display: block;
        color: white;
        font-weight: 500; }

.lifestyle,
.support-items {
  text-align: center; }
  .lifestyle li,
  .support-items li {
    padding: 4em 0;
    display: block;
    line-height: 1.7;
    color: #6E6D7A; }
  .lifestyle img,
  .support-items img {
    width: 56px;
    height: 56px; }
  .lifestyle strong,
  .support-items strong {
    color: #383938;
    display: block;
    font-size: 1.5em;
    font-weight: 500;
    margin: 1em 0 0.5em; }

.support-items {
  padding-left: 4.5%;
  text-align: left; }
  .support-items strong {
    font-size: 1.2em; }
  .support-items li {
    padding-right: 0; }
  .support-items img {
    width: 44px;
    height: 44px; }

.lifestyle li:nth-child(1),
.lifestyle li:nth-child(2) {
  border-bottom: 1px solid #ECECEC; }

.food-library h2 {
  padding-bottom: 2em; }

.data-highlights {
  color: #6E6D7A;
  border-top: 1px solid #ECECEC;
  padding-top: 2.5em;
  margin-top: 5em; }
  .data-highlights li {
    line-height: 1.3;
    margin-bottom: 2em; }
  .data-highlights .label {
    display: block; }
  .data-highlights .value {
    font-size: 3em;
    color: #383938; }

.food-library-features {
  padding-top: 3em; }
  .food-library-features li {
    position: relative;
    padding-left: 50px;
    line-height: 2;
    margin-bottom: 1em; }
    .food-library-features li img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px; }

.apple-health img {
  margin: 2em 0; }

.awards img {
  padding-top: 2em;
  width: 200%;
  margin-left: -50%; }

.more-features .left-content {
  margin-bottom: 4em; }
.more-features li {
  position: relative;
  padding-left: 70px;
  color: #6E6D7A;
  line-height: 1.5;
  margin-bottom: 3em; }
  .more-features li strong {
    color: #383938;
    display: block;
    font-weight: 400;
    font-size: 1.2em; }
  .more-features li img {
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: 44px; }

.pricing .price {
  font-size: 3em;
  letter-spacing: -0.08em;
  display: block;
  padding: .5em 0; }
.pricing .price-details {
  margin-bottom: 2em; }
.pricing ul {
  padding-top: 3em; }
  .pricing ul li {
    margin: 1em 0;
    line-height: 1.4; }
.pricing .left-content,
.pricing .right-content {
  padding: 40px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  margin-top: 4em; }
.pricing .left-content {
  background: #EBEBEB;
  margin-right: 20px; }
.pricing .right-content {
  background: #FFDFDF; }
.pricing p.small {
  margin: 4em auto 0;
  width: 70%;
  max-width: 400px; }

.support .support-items {
  margin: 1em 0;
  padding-left: 0; }
  .support .support-items li {
    padding-bottom: 0; }

.free-trial {
  padding: 2em 0;
  background: #F9C9DE;
  text-align: center; }
  .free-trial h2 {
    line-height: 1.4; }
  .free-trial .button {
    margin-top: 2em; }
  .free-trial img {
    margin-top: 2em; }
  .free-trial .left-content {
    padding: 4em 0; }

#faq {
  background-color: #f1f2f7; }
  #faq li {
    background-color: #f1f2f7;
    border-bottom: 1px solid #ccc; }

.frequently-asked .left-content {
  flex: none; }
.frequently-asked .right-content {
  flex: 1; }
.frequently-asked h2 {
  margin-bottom: 2em; }
.frequently-asked li {
  padding: 3em 0;
  border-bottom: 1px solid #eaeaea; }
  .frequently-asked li:last-child {
    border: 0; }

.newsletter h5 {
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 500;
  color: #6E6D7A;
  padding-bottom: 1em; }
.newsletter h2 {
  margin-bottom: 2em; }
.newsletter.has-color {
  background: #ECF4FF; }
  .newsletter.has-color input {
    background: white; }

footer {
  background: #101010;
  color: white;
  padding: 5em 0; }
  footer .logo {
    width: 30px;
    height: 30px;
    padding-bottom: 2em; }
  footer p {
    color: white; }
  footer ul li {
    line-height: 2; }
  footer ul a:link, footer ul a:visited {
    color: white; }
  footer ul a:hover {
    color: #ffffff; }
  footer p.small {
    margin-bottom: 5em;
    color: #909090; }

input[type="text"],
#support-input,
select,
textarea {
  padding: 20px;
  font-size: 1.1em;
  border: 0;
  background: #f1f1f1;
  width: 22%;
  font-family: "Avenir Next", "Poppins", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Helvetica", "Gill Sans", sans-serif;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box; }

button {
  color: white;
  background: #1C71D5;
  border: 0;
  padding: 20px 30px;
  font-size: 1.1em;
  cursor: pointer;
  font-family: "Avenir Next", "Poppins", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Helvetica", "Gill Sans", sans-serif; }
  button:hover {
    background: #0d59b4; }

.faq a {
  display: inline-block; }
.faq li {
  background: transparent url("../images/faq_icon_collapsed.png") right 2.75em no-repeat;
  background-size: 20px 20px; }
.faq li.active {
  background-image: url("../images/faq_icon_expanded.png"); }
  .faq li.active .answer {
    display: block; }
  .faq li.active > a {
    padding-bottom: 2em; }
.faq .answer {
  padding-top: 1em;
  display: none; }

/*********************************************
 *********************************************
 *********************************************
 *********************************************
 * Contact
 *********************************************
 *********************************************
 *********************************************
 *********************************************
 */
.contact h1 {
  margin-bottom: 1em; }
.contact label {
  display: block;
  margin-bottom: 1em; }
.contact label + input,
.contact textarea,
.contact .select-container {
  margin-bottom: 2em; }
.contact input {
  width: 100%; }
.contact .select-container {
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  background: #f1f1f1 url("../images/arrow_down.svg") 96% 49% no-repeat;
  position: relative; }
.contact select {
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .contact select:focus {
    outline: none; }
.contact textarea {
  width: 100%;
  height: 200px; }
.contact form {
  margin-top: 4em; }

/*********************************************
 *********************************************
 *********************************************
 *********************************************
 * About
 *********************************************
 *********************************************
 *********************************************
 *********************************************
 */
.about-intro h1 {
  margin-bottom: 2em; }

.about-devices {
  padding: 0; }

.about-history {
  padding-top: 5em; }
  .about-history .left-content img {
    margin-bottom: 2em; }
  .about-history h2 {
    margin: 4em 0 2em; }

.setup-item {
  width: 86%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 6em; }
  .setup-item:last-child {
    margin-bottom: 0; }
  .setup-item .image-container {
    width: 100%;
    background: #E7EAEF;
    height: 350px;
    overflow: hidden;
    position: relative; }
    .setup-item .image-container img {
      width: 80%;
      position: absolute;
      top: 40px;
      left: 10%;
      display: block; }
  .setup-item .content-container {
    padding-top: 1em; }
  .setup-item .label {
    display: block;
    font-weight: 500; }
  .setup-item .description {
    display: block;
    margin-top: .5em;
    line-height: 1.4; }

/*********************************************
 *********************************************
 *********************************************
 *********************************************
 * Tips
 *********************************************
 *********************************************
 *********************************************
 *********************************************
 */
.tips-header {
  padding: 10em 0 30em;
  background: #EAEBE5 url("../images/tips_header.jpg") center center no-repeat;
  background-size: auto 100%; }
  .tips-header p {
    margin-top: 1em; }

.tip img {
  width: 90%;
  max-width: 320px;
  margin: 0 auto 2em auto;
  display: block; }
.tip h2 {
  margin-bottom: 2em; }

@media screen and (min-width: 500px) {
  .support .support-items {
    margin: 5em 0 10em; }
    .support .support-items li {
      display: inline-block;
      width: 50%;
      padding-right: 10%;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box; } }
@media screen and (min-width: 768px) {
  h2 + p {
    margin-top: 1em; }

  .paragraphs {
    padding-top: 8em; }
    .paragraphs h1 {
      margin-bottom: 2.5em; }
    .paragraphs h1, .paragraphs h2, .paragraphs h3, .paragraphs h4, .paragraphs h5, .paragraphs p {
      max-width: 620px; }

  .introduction {
    height: 46em; }
    .introduction .intro-text {
      padding: 4em 0 4em 0;
      margin-left: 20%;
      max-width: 500px; }
    .introduction p {
      padding: 2em 0; }

  .hero-left {
    position: absolute;
    top: 20em;
    left: 10%;
    width: 50%; }

  .hero-right {
    position: absolute;
    top: 10em;
    right: 10%;
    width: 48%; }

  .how-it-works {
    padding-left: 9%;
    padding-right: 9%; }
    .how-it-works h2 {
      padding-bottom: 2em; }

  .calorie-tracking .left-content {
    flex: none;
    margin-right: 17%;
    width: 45%;
    vertical-align: center; }
    .calorie-tracking .left-content .card {
      margin-top: 100px;
      margin-bottom: 0; }
  .calorie-tracking .right-content {
    width: 37.2%; }

  .theme-selector {
    max-width: intrinsic; }
    .theme-selector li {
      margin: 5px; }
      .theme-selector li a:link, .theme-selector li a:visited {
        width: 14px;
        height: 14px;
        border-radius: 9px;
        -moz-border-radius: 9px;
        -webkit-border-radius: 9px;
        -ms-border-radius: 9px; }

  .lifestyle li:nth-child(1),
  .lifestyle li:nth-child(2) {
    border-bottom: 0;
    border-right: 1px solid #ECECEC; }

  .lifestyle {
    display: flex;
    flex-wrap: nowrap; }
    .lifestyle li {
      flex: 1;
      margin-right: 4.5%;
      padding-right: 4.5%; }

  .dashboard .content-wrapper .left-content {
    width: 29.4%;
    margin-right: 17%; }
  .dashboard .content-wrapper .right-content {
    width: 37.2%;
    margin-right: 9%; }
  .dashboard .content-wrapper.col-1 {
    padding-top: 6em; }
    .dashboard .content-wrapper.col-1 h2 {
      margin-top: 1em; }
    .dashboard .content-wrapper.col-1 .left-content {
      margin-right: 25.5%; }
    .dashboard .content-wrapper.col-1 .right-content {
      margin-right: 0; }

  .dashboard-presets {
    padding: 10em 0 5em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
    .dashboard-presets li {
      flex: 1;
      line-height: 1; }
      .dashboard-presets li strong {
        padding: 2em 0 0.5em; }
      .dashboard-presets li img {
        width: 100%;
        padding-bottom: 0; }
      .dashboard-presets li:nth-child(1), .dashboard-presets li:nth-child(2), .dashboard-presets li:nth-child(3) {
        margin-right: 6%; }

  .dashboard-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10em 0 10em; }
    .dashboard-options ul {
      width: 25%; }
      .dashboard-options ul:nth-child(1), .dashboard-options ul:nth-child(2), .dashboard-options ul:nth-child(2), .dashboard-options ul:nth-child(4), .dashboard-options ul:nth-child(6), .dashboard-options ul:nth-child(7), .dashboard-options ul:nth-child(8) {
        margin-bottom: 4em; }

  .food-library {
    background: white url("../images/tomato_bg.jpg") 4% 30% no-repeat;
    background-size: 300px auto; }

  .food-library h2 {
    padding-bottom: 0; }
  .food-library h2,
  .food-library .left-content {
    margin-left: 33.88%; }
  .food-library h2 {
    width: 40.45%;
    padding-bottom: 5em; }
  .food-library .left-content {
    width: 25.5%;
    margin-right: 17%; }
  .food-library .right-content {
    width: 12.5%;
    margin-right: 9%; }

  .data-highlights {
    padding-top: 1.5em;
    margin-top: 0; }

  .apple-health .left-content {
    flex: none;
    margin-right: 21.5%;
    width: 29.4%;
    position: relative; }
  .apple-health .right-content {
    flex: 1;
    width: 29.4%; }
    .apple-health .right-content img {
      vertical-align: bottom;
      margin: 0; }

  .awards p {
    max-width: 37.2%;
    display: inline-block; }
  .awards img {
    padding-top: 6em;
    width: 100%;
    margin-left: 0; }

  .more-features .left-content {
    flex: none;
    margin-right: 21.5%;
    width: 29.4%;
    margin-bottom: 0; }
  .more-features .right-content {
    flex: 1;
    width: 29.4%; }
  .more-features li strong {
    font-size: 1.4em; }

  .pricing .price {
    font-size: 3em;
    letter-spacing: -0.08em;
    display: block;
    padding: .5em 0; }
  .pricing .price-details {
    margin-bottom: 2em; }
  .pricing ul {
    padding-top: 3em; }
    .pricing ul li {
      margin: 1em 0;
      line-height: 1.4; }
  .pricing .left-content,
  .pricing .right-content {
    margin: 5em 0 0;
    width: 29.4%;
    padding: 40px;
    flex: 1; }
  .pricing .left-content {
    background: #EBEBEB;
    margin-right: 20px; }
  .pricing .right-content {
    background: #FFDFDF; }

  .frequently-asked .left-content {
    width: 15%;
    margin-right: 35%; }
  .frequently-asked .right-content {
    width: 50%; }
  .frequently-asked li {
    padding: 3em 0;
    border-bottom: 1px solid #eaeaea; }
    .frequently-asked li:last-child {
      border: 0; }

  .support .support-items {
    padding-bottom: 0;
    margin-bottom: 0; }

  .free-trial {
    text-align: left; }
    .free-trial h2 {
      line-height: 1.2; }
    .free-trial img {
      margin-top: 0; }
    .free-trial .left-content {
      padding: 4em 0;
      width: 21.5%;
      margin-right: 17%;
      vertical-align: middle; }
    .free-trial .right-content {
      width: 37.2%; }

  footer {
    position: relative;
    padding: 10em 0 5em; }
    footer .logo {
      position: absolute;
      top: -4em;
      left: 0;
      width: 40px;
      height: 40px; }
    footer .content-wrapper.display-flex .left-content {
      flex: none;
      width: 25%;
      margin-right: 25%; }
    footer ul {
      margin-right: 9%;
      width: 12.5%; }
      footer ul li {
        line-height: 2; }
      footer ul:last-child {
        margin-right: 17%; }
    footer p.small {
      margin-top: 5em;
      margin-bottom: 0; }

  .contact form {
    margin-top: 0; }
  .contact .left-content {
    width: 20%;
    margin-left: 17%;
    margin-right: 13%; }
  .contact .right-content {
    width: 33%;
    margin-right: 17%; }

  .about-intro .left-content,
  .tip .left-content {
    flex: none;
    width: 32%;
    margin-left: 9%;
    margin-right: 9%; }
  .about-intro .right-content,
  .tip .right-content {
    width: 32%;
    margin-left: 9%; }

  .tip .right-content {
    margin-left: 0; }

  .about-devices .left-content {
    flex: none;
    width: 28%;
    margin-left: 17%;
    margin-right: 5%; }
    .about-devices .left-content .iphone {
      margin-top: -6em; }
  .about-devices .right-content {
    width: 28%;
    margin-left: 5%;
    margin-right: 17%; }
    .about-devices .right-content .iphone {
      margin-top: 3em; }

  .about-history {
    padding-top: 5em; }
    .about-history h2 {
      width: 65%;
      margin: 0; }
    .about-history .left-content {
      flex: none;
      width: 21.5%;
      margin-left: 9%;
      margin-right: 25.5%; }
      .about-history .left-content img {
        margin-bottom: 6em; }
    .about-history .right-content {
      width: 45%; }
      .about-history .right-content img {
        margin-top: 8em; }

  .about-intro {
    padding-bottom: 0; }

  .about-setup {
    padding-bottom: 15em;
    padding-top: 5em; }

  .setup-item {
    width: 20%;
    position: relative; }
    .setup-item .image-container {
      height: calc(100vw * 0.2);
      max-height: 350px; }
      .setup-item .image-container img {
        width: 80%;
        position: absolute;
        top: 40px;
        left: 10%;
        display: block; }
    .setup-item .content-container {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding-top: 1em; }
    .setup-item h2 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%; }
    .setup-item p {
      position: absolute;
      top: calc(100% + .2em);
      left: 0;
      width: 100%; }
    .setup-item:nth-child(1), .setup-item:nth-child(2), .setup-item:nth-child(3) {
      margin-right: 5%; }

  .tip img {
    width: 400px;
    max-width: none; } }
@media screen and (min-width: 1024px) {
  .calorie-tracking .left-content {
    margin-right: 33.88%;
    width: 29.4%; }

  .dashboard-options ul {
    width: 20%; }
    .dashboard-options ul:nth-child(1), .dashboard-options ul:nth-child(2), .dashboard-options ul:nth-child(2), .dashboard-options ul:nth-child(4), .dashboard-options ul:nth-child(5) {
      margin-bottom: 4em; }
    .dashboard-options ul:nth-child(6), .dashboard-options ul:nth-child(7), .dashboard-options ul:nth-child(8), .dashboard-options ul:nth-child(9), .dashboard-options ul:nth-child(10) {
      margin-bottom: 0; }

  .support .support-items {
    display: flex;
    flex-wrap: nowrap; }
    .support .support-items li {
      flex: 1;
      margin-right: 4.5%;
      padding-right: 4.5%;
      width: auto; }

  .free-trial {
    padding: 4em 0; }
    .free-trial .left-content {
      padding: 5.5em 0; }

  .food-library {
    background-position: 9% 40%; } }
@media screen and (min-width: 1200px) {
  .introduction {
    height: 52em; }

  .hero-left {
    top: 24em;
    max-width: 649px; }

  .hero-right {
    top: 14em;
    max-width: 623px; }

  .free-trial .left-content {
    padding: 6em 0; }

  .apple-health .left-content img {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0; } }
@media screen and (min-width: 1400px) {
  .free-trial .left-content {
    padding: 10em 0; } }
