html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * Navigation
 */
.no-js ul {
  dispaly: none; }
.no-js #hamburger-icon {
  display: none; }

nav {
  display: flex;
  flex-grow: row;
  flex-wrap: nowrap;
  position: relative;
  z-index: 9999;
  overflow: hidden;
  height: 60px;
  background: #FFFFFF;
  transition: height 0.25s ease-in-out;
  -webkit-transition: height 0.25s ease-in-out;
  -moz-transition: height 0.25s ease-in-out;
  -ms-transition: height 0.25s ease-in-out;
  -o-transition: height 0.25s ease-in-out; }
  nav a.button {
    display: none; }
  nav .content-wrapper {
    padding: 1em 0; }
  nav.dark {
    background: #101010; }
    nav.dark .content-wrapper {
      border-bottom: 1px solid #353535; }
    nav.dark ul a:link, nav.dark a:visited {
      color: #909090;
      transition: all 0.15s ease-in-out;
      -webkit-transition: all 0.15s ease-in-out;
      -moz-transition: all 0.15s ease-in-out;
      -ms-transition: all 0.15s ease-in-out;
      -o-transition: all 0.15s ease-in-out; }
      nav.dark ul a:link:hover, nav.dark ul a:link.active, nav.dark a:visited:hover, nav.dark a:visited.active {
        color: white; }
  nav .logo {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 1.2em;
    left: 0; }
  nav ul {
    padding-top: 4em;
    opacity: 0;
    pointer-events: none;
    flex: 1;
    transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out; }
    nav ul:first-child {
      margin-top: 60px; }
    nav ul li {
      display: block;
      text-align: center; }
    nav ul a:link, nav ul a:visited {
      font-weight: 500;
      font-size: 1em;
      color: #737373;
      display: inline-block;
      padding: .6em 0;
      vertical-align: middle;
      transition: all 0.15s ease-in-out;
      -webkit-transition: all 0.15s ease-in-out;
      -moz-transition: all 0.15s ease-in-out;
      -ms-transition: all 0.15s ease-in-out;
      -o-transition: all 0.15s ease-in-out; }
      nav ul a:link:hover, nav ul a:link.active, nav ul a:visited:hover, nav ul a:visited.active {
        color: #050505;
        text-decoration: none; }

nav.active {
  height: 280px; }
  nav.active.slim {
    height: 220px; }
  nav.active ul {
    transition-delay: 200ms;
    opacity: 1;
    pointer-events: all; }

#hamburger-icon {
  position: absolute;
  top: 1.2em;
  right: 25px;
  width: 20px;
  height: 20px;
  z-index: 9999; }
  #hamburger-icon span {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: #737373;
    opacity: 1;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out; }
    #hamburger-icon span.top {
      top: 20%; }
    #hamburger-icon span.middle {
      top: 50%; }
    #hamburger-icon span.bottom {
      top: 80%; }
  #hamburger-icon.active span {
    top: 50%; }
  #hamburger-icon.active .top {
    transform: rotate3d(0, 0, 1, 45deg);
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    -moz-transform: rotate3d(0, 0, 1, 45deg);
    -ms-transform: rotate3d(0, 0, 1, 45deg); }
  #hamburger-icon.active .bottom {
    transform: rotate3d(0, 0, 1, -45deg);
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    -moz-transform: rotate3d(0, 0, 1, -45deg);
    -ms-transform: rotate3d(0, 0, 1, -45deg); }
  #hamburger-icon.active .middle {
    opacity: 0; }

@media screen and (min-width: 414px) {
  #hamburger-icon {
    right: 30px; } }
@media screen and (min-width: 1024px) {
  .no-js nav {
    height: auto; }

  nav {
    height: auto;
    text-align: center; }
    nav .content-wrapper {
      padding: 0; }
    nav .logo-link {
      width: 32px;
      height: 28px;
      position: absolute;
      top: 1em;
      left: 0; }
      nav .logo-link img {
        width: 100%; }
    nav a.button {
      position: absolute;
      top: 2em;
      right: 0;
      display: inline-block; }
    nav.slim {
      text-align: left; }
      nav.slim .content-wrapper {
        border-bottom: 1px solid #ECECEC; }
      nav.slim .logo-link {
        left: 50%;
        margin-left: -16px; }
      nav.slim ul:first-child {
        margin: 0; }
        nav.slim ul:first-child li {
          margin: 0; }
        nav.slim ul:first-child li:first-child a {
          background: transparent url("../images/back_arrow.svg") 0 0.5em no-repeat;
          padding-left: 18px; }
          nav.slim ul:first-child li:first-child a:hover {
            background-image: url("../images/back_arrow_hover.svg"); }
    nav ul {
      opacity: 1;
      pointer-events: all;
      padding-top: 0; }
      nav ul li {
        display: inline-block;
        padding: 2em 0;
        margin: 0 1em; }
      nav ul a:link, nav ul a:visited {
        padding: .6em 0;
        font-size: 0.85em; }

  #hamburger-icon {
    display: none; } }
li {
  list-style: none; }

em {
  font-style: italic;
  text-transform: none; }

.block {
  display: block; }

.bold {
  font-weight: 600; }

.optional-new-line {
  display: inline; }

.centered {
  text-align: center; }

section {
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px); }

.will-reveal {
  opacity: 0;
  transform: translate3d(0px, 50px, 0px); }

a.button,
button {
  background: transparent;
  cursor: pointer;
  font-size: 0.85em;
  padding: 1em 2em;
  border: 1px solid #ECECEC;
  color: #050505;
  display: inline-block;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0);
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out; }
  a.button.dark,
  button.dark {
    border-color: #050505;
    color: #050505; }
  a.button:hover,
  button:hover {
    background: #101010;
    color: white;
    border-color: #101010;
    text-decoration: none; }

/**
 * No Script States
 */
.no-js .lazy-load {
  display: none; }
  .no-js .lazy-load.desktop, .no-js .lazy-load.mobile {
    display: none; }
.no-js .faq li:after {
  background-image: none; }
.no-js .faq a {
  pointer-events: none; }
.no-js .faq .answer {
  display: block; }
.no-js .how-it-works .callouts {
  opacity: 1; }
  .no-js .how-it-works .callouts .callout:before {
    width: 60px; }
  .no-js .how-it-works .callouts .callout span {
    opacity: 1; }
.no-js .dashboard-presets a {
  background: none;
  padding-left: 0;
  color: white; }
  .no-js .dashboard-presets a:before {
    background: none;
    padding-left: 0; }
  .no-js .dashboard-presets a.active {
    background: none;
    padding-left: 0; }
.no-js .question .arrow,
.no-js .invisible {
  display: none; }
.no-js .introduction .large-text {
  padding-top: 12em; }

/* Removed with JS for noscript support*/
.hidden {
  display: none; }

.lazy-load {
  transition: opacity .25s ease-in-out; }

::selection {
  background: #F5F6F9; }

::-moz-selection {
  background: #F5F6F9; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #b1b1b1; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #b1b1b1;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #b1b1b1;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #b1b1b1; }

:placeholder-shown {
  color: #b1b1b1; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome and Opera */ }

img {
  transition: opacity .2s ease-out, transform .2s ease-in-out;
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  opacity: 1; }
  img.invisible {
    opacity: 0; }
  img.full-width {
    width: 100%; }

.iphone {
  position: relative; }

.device-bezel {
  width: 100%;
  position: relative;
  z-index: 2; }

.device-media {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 11% 11.6% 5%;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box; }

/** Global Elements **/
section {
  overflow: hidden;
  padding: 4em 0;
  position: relative;
  z-index: 1; }
  section:after {
    content: "";
    clear: both;
    display: block; }
  section.no-padding {
    padding: 0; }

.device-bezel {
  width: 100%; }

.content-wrapper {
  max-width: 1440px;
  margin: 0 25px;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box; }
  .content-wrapper:after {
    content: "";
    clear: both;
    display: block; }
  .content-wrapper.border-top {
    padding-top: 2em;
    border-top: 1px solid #ECECEC; }

nav .content-wrapper {
  max-width: none; }

.left-content > img,
.left-content noscript > img,
.right-content > img,
.right-content noscript > img {
  width: 100%; }

h1 + h2 {
  margin-top: 1em; }

h1 + p {
  margin-top: 1em; }

h2 + p {
  margin-top: 1em; }

p + h2 {
  margin-top: 1em; }

.heading-label + h1,
.heading-label + h2 {
  margin-top: 0.3em; }

p {
  color: #737373; }

p + .large-link {
  margin-top: 1em; }

p + .button {
  margin-top: 1em; }

.large-link {
  display: inline-block;
  border-bottom: 2px solid #050505;
  padding-bottom: 0.2em;
  font-weight: 500; }
  .large-link:hover {
    color: #737373;
    text-decoration: none;
    border-bottom-color: #B2B2B2; }

.heading-label {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 4%; }

.mobile {
  display: block; }

.desktop {
  display: none; }

.paragraphs {
  padding-top: 6em; }
  .paragraphs h1 {
    margin-bottom: 2em; }
  .paragraphs h1, .paragraphs h2, .paragraphs h3, .paragraphs h4, .paragraphs h5, .paragraphs p {
    width: 100%; }
  .paragraphs p {
    line-height: 1.7; }

blockquote {
  border-left: 4px solid #cdcdcd;
  padding-left: 1em;
  color: #737373;
  line-height: 1.4;
  font-size: 1.2em;
  margin-bottom: 1em; }

.display-block {
  display: block; }

.purple {
  color: #8F00FF; }

.blue {
  color: #0047FF; }

#loading-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 2;
  transition: transform 100ms ease-in-out;
  -webkit-transition: transform 100ms ease-in-out;
  -moz-transition: transform 100ms ease-in-out;
  -ms-transition: transform 100ms ease-in-out;
  -o-transition: transform 100ms ease-in-out; }
  #loading-bar.hidden {
    transform: translate3d(0, 10px, 0); }
  #loading-bar span {
    flex: 1;
    height: 10px; }
    #loading-bar span:first-child {
      background: #0041EA; }
    #loading-bar span:nth-child(2) {
      background: #7100C9; }
    #loading-bar span:last-child {
      background: #B81DB1; }

@media screen and (min-width: 414px) {
  .content-wrapper {
    margin: 0 30px; } }
@media screen and (min-width: 768px) {
  .content-wrapper {
    margin: 0 auto;
    width: 88%; }
    .content-wrapper.border-top {
      padding-top: 3em; }

  h2 + p {
    margin-top: 1em; }

  .paragraphs {
    padding-top: 8em; }
    .paragraphs h1 {
      margin-bottom: 2.5em; }
    .paragraphs h1, .paragraphs h2, .paragraphs h3, .paragraphs h4, .paragraphs h5, .paragraphs p {
      max-width: 620px; }

  .display-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap; }
    .display-flex .left-content {
      flex: 1; }

  section {
    padding: 6em 0; }

  .content-wrapper.padding-top {
    padding-top: 4em; }

  .desktop {
    display: block; }

  .mobile {
    display: none; } }
@media screen and (min-width: 1200px) {
  section {
    padding: 8em 0; }

  .content-wrapper.padding-top {
    padding-top: 6em; } }
/* Animation */
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotatingCounter {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg); } }
html,
body {
  color: #050505;
  font-size: 16px;
  background-color: #FFFFFF;
  font-family: "Avenir Next", "Poppins", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Helvetica", "Gill Sans", sans-serif;
  /* Fix for bolder font rendering on Firefox */
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  width: 100vw; }

body {
  counter-reset: item;
  -webkit-font-smoothing: antialiased; }
  body:before {
    -webkit-font-smoothing: subpixel-antialiased; }

a {
  text-decoration: none;
  color: #050505; }

a:hover {
  text-decoration: underline;
  color: #050505; }

p {
  padding-bottom: 1em; }
  p:last-child {
    padding-bottom: 0; }

h1, h2, h3, h4 {
  line-height: 1.3em;
  font-weight: 500; }

h1,
h2.large {
  line-height: 1.1em;
  font-size: 2em;
  letter-spacing: -0.05em; }

h2.xlarge {
  font-size: 2.4em;
  letter-spacing: -0.05em; }

h2 {
  font-size: 1.7em;
  letter-spacing: -.04em; }

h3 {
  font-size: 1.35em;
  letter-spacing: -.04em; }

h4 {
  font-size: 1.1em;
  font-weight: 600; }

p {
  font-size: 1em;
  line-height: 1.4; }

@media screen and (min-width: 768px) {
  h1,
  h2.large {
    font-size: 2.8em;
    letter-spacing: -0.05em; }

  h2.xlarge {
    font-size: 3.6em;
    letter-spacing: -0.05em; }

  h2, h3 {
    font-size: 1.8em;
    letter-spacing: -.04em; } }
@media screen and (min-width: 1200px) {
  h1,
  h2.large {
    font-size: 3.8em;
    letter-spacing: -0.05em; }

  h2.xlarge {
    font-size: 5em;
    letter-spacing: -0.05em; }

  h2, h3 {
    font-size: 2.1em;
    letter-spacing: -.04em; }

  p {
    font-size: 1.13em; } }
@media screen and (min-width: 768px) {
  img.mobile {
    display: none; }

  img.desktop {
    display: block; } }
/*********************************************
 *********************************************
 *********************************************
 *********************************************
 * Homepage
 *********************************************
 *********************************************
 *********************************************
 *********************************************
 */
.how-it-works {
  padding-top: 10vh; }

.scroll-container {
  padding-top: 4em; }
  .scroll-container .off-day-text,
  .scroll-container .callouts {
    padding-top: 2em;
    margin: 0 auto;
    text-align: center; }
  .scroll-container .off-day-text {
    max-width: 300px; }
  .scroll-container .iphone {
    max-width: 80%;
    margin: 0 auto; }
    .scroll-container .iphone.mobile {
      margin-top: 8em; }

.guided-setup {
  text-align: center; }
  .guided-setup h2 {
    max-width: 340px;
    margin-left: auto;
    margin-right: auto; }

.user-stats {
  padding-top: 4em; }
  .user-stats .value {
    font-size: 2em;
    padding-bottom: .2em;
    display: block; }
  .user-stats li {
    display: inline-block;
    width: 50%;
    padding-top: 2.5em;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 800ms ease-in-out, opacity 800ms ease-in-out; }
    .user-stats li:last-child {
      width: 100%; }
    .user-stats li:nth-child(1) {
      transition-delay: 0ms; }
    .user-stats li:nth-child(2) {
      transition-delay: 150ms; }
    .user-stats li:nth-child(3) {
      transition-delay: 300ms; }
    .user-stats li:nth-child(4) {
      transition-delay: 450ms; }
    .user-stats li:nth-child(5) {
      transition-delay: 600ms; }
    .user-stats li.will-animate {
      opacity: 0;
      transform: translate3d(0, 30px, 0); }

.long-term-habits {
  text-align: center; }

.icon-list {
  text-align: center;
  padding-top: 2em; }
  .icon-list li {
    padding: 2em 0;
    display: block;
    max-width: 300px;
    margin: 0 auto;
    line-height: 1.7;
    color: #737373; }
    .icon-list li:last-child {
      padding-bottom: 0; }
  .icon-list img {
    width: 36px;
    height: 36px; }
  .icon-list strong {
    color: #050505;
    display: block;
    font-size: 1.3em;
    font-weight: 500;
    margin: 0.5em 0 0.5em; }

.dashboard {
  background: #101010;
  color: white; }
  .dashboard p {
    color: #909090; }
  .dashboard .left-content {
    padding-bottom: 2em; }
  .dashboard .full-width {
    padding-top: 4em;
    width: 180%;
    margin-left: -40%; }
  .dashboard .content-wrapper:first-child {
    border-bottom: 1px solid #222;
    padding-bottom: 4em; }
  .dashboard .content-wrapper.padding-top {
    padding-top: 4em; }
    .dashboard .content-wrapper.padding-top h2 {
      max-width: 300px;
      margin: 0 auto;
      text-align: center; }
  .dashboard .dashboard-preset {
    opacity: 0;
    transition: opacity 250ms ease-out; }
    .dashboard .dashboard-preset.active {
      opacity: 1; }
  .dashboard .content-wrapper .iphone {
    width: 88%;
    max-width: 300px;
    margin: 0 auto; }

.dashboard-presets {
  padding-top: 2em;
  font-size: 1.4em;
  padding-bottom: 0; }
  .dashboard-presets li {
    text-align: left;
    margin: 0;
    padding: 0.2em 0;
    line-height: 1; }
  .dashboard-presets a {
    color: #656565;
    letter-spacing: -0.05em;
    padding-left: 0;
    transition: all 300ms ease-in-out;
    background-position: 0px 7px;
    background-repeat: no-repeat;
    background-size: 50px auto;
    position: relative; }
    .dashboard-presets a:before {
      opacity: 0;
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 50px;
      height: 50px;
      transition: all 300ms ease-in-out;
      background-image: url("../images/arrow_forward.svg");
      background-repeat: no-repeat;
      background-position: 0px 0px;
      background-size: 28px auto;
      transform: translate3d(-10px, 0, 0); }
    .dashboard-presets a.active {
      color: #fff;
      padding-left: 38px; }
      .dashboard-presets a.active:before {
        opacity: 1;
        transform: translate3d(0, 0, 0); }

.dashboard-options {
  padding: 3em 0 0; }
  .dashboard-options ul {
    padding-bottom: 2em; }
    .dashboard-options ul li {
      color: #909090;
      line-height: 2; }
      .dashboard-options ul li strong {
        display: block;
        color: white;
        font-weight: 500; }

.backstory h2 {
  padding-bottom: 2em; }
.backstory .border-top {
  border: 0; }
.backstory .icon-list {
  padding-top: 4em; }

.apple-health {
  vertical-align: bottom; }
  .apple-health .content-wrapper:first-child {
    padding-bottom: 3em; }
    .apple-health .content-wrapper:first-child h2,
    .apple-health .content-wrapper:first-child p {
      max-width: 300px; }
  .apple-health .content-wrapper:last-child {
    text-align: right; }

.apple-watch-screen-1,
.apple-watch-screen-2 {
  display: inline-block;
  position: relative; }
  .apple-watch-screen-1:after,
  .apple-watch-screen-2:after {
    content: "";
    clear: both;
    display: block; }
  .apple-watch-screen-1 img,
  .apple-watch-screen-2 img {
    float: right; }
  .apple-watch-screen-1 span,
  .apple-watch-screen-2 span {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 120px;
    display: inline-block;
    font-weight: 500;
    font-size: .85em;
    line-height: 1.3;
    text-align: left; }

.apple-watch-screen-1 {
  background: #F4D1E1;
  width: 100%; }
  .apple-watch-screen-1 img {
    width: 60%; }

.apple-watch-screen-2 {
  background: #8F00FF;
  color: white;
  width: 100%; }
  .apple-watch-screen-2 img {
    width: 70%; }

.awards {
  padding: 0; }
  .awards .content-wrapper {
    padding: 6em 0; }
  .awards .text-content {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
    padding: 12em 0;
    transform: translate(0, -50%); }
  .awards p {
    display: inline-block;
    width: 100%; }
  .awards .awards-container {
    margin-left: -15%;
    width: 130%;
    position: relative;
    -webkit-animation: rotating 25s linear infinite;
    -moz-animation: rotating 25s linear infinite;
    -ms-animation: rotating 25s linear infinite;
    -o-animation: rotating 25s linear infinite;
    animation: rotating 25s linear infinite; }
    .awards .awards-container:after {
      content: "";
      display: block;
      padding-bottom: 100%; }
  .awards .awards-icons {
    position: absolute;
    width: 100%;
    height: 100%; }
    .awards .awards-icons li {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -27px 0 0 -27px;
      -webkit-animation: rotatingCounter 25s linear infinite;
      -moz-animation: rotatingCounter 25s linear infinite;
      -ms-animation: rotatingCounter 25s linear infinite;
      -o-animation: rotatingCounter 25s linear infinite;
      animation: rotatingCounter 25s linear infinite; }
      .awards .awards-icons li:nth-child(1) {
        left: 5%; }
      .awards .awards-icons li:nth-child(2) {
        top: 20%;
        left: 20%; }
      .awards .awards-icons li:nth-child(3) {
        top: 5%; }
      .awards .awards-icons li:nth-child(4) {
        top: 20%;
        left: 80%; }
      .awards .awards-icons li:nth-child(5) {
        left: 95%; }
      .awards .awards-icons li:nth-child(6) {
        top: 80%;
        left: 80%; }
      .awards .awards-icons li:nth-child(7) {
        top: 95%; }
      .awards .awards-icons li:nth-child(8) {
        left: 20%;
        top: 80%; }

.more-features {
  padding-top: 0; }
  .more-features .right-content {
    padding-top: 4em; }
  .more-features .left-content {
    margin-bottom: 4em; }
  .more-features li {
    position: relative;
    padding-left: 70px;
    color: #737373;
    line-height: 1.5;
    margin-bottom: 3em; }
    .more-features li strong {
      color: #050505;
      display: block;
      font-weight: 400;
      font-size: 1.2em; }
    .more-features li img {
      position: absolute;
      top: 5px;
      left: 0;
      width: 20px;
      height: 20px; }

.pricing h2 {
  text-align: center; }
.pricing h3 {
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  font-weight: 600; }
.pricing .price {
  font-size: 1.8em;
  display: block;
  padding: .5em 0;
  font-weight: 500; }
.pricing .price-details {
  margin-bottom: 2em; }
.pricing ul {
  padding-top: 3em; }
  .pricing ul li {
    margin: 1em 0;
    line-height: 1.4; }
.pricing .pricing-basic,
.pricing .pricing-pro,
.pricing .pricing-trial {
  display: inline-block;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box; }
.pricing .pricing-basic {
  margin: 5em 0 0;
  background: #EDEDED;
  vertical-align: bottom; }
.pricing .pricing-pro {
  background: #0047FF;
  color: white; }
.pricing .pricing-trial {
  flex: 1;
  vertical-align: top; }
.pricing p.small {
  width: 60%;
  margin: 4em auto 0; }

.pricing-trial {
  background: #DAE5FF; }
  .pricing-trial .button {
    margin-top: 4em;
    display: block;
    text-align: center; }
  .pricing-trial.display-flex {
    padding: 40px;
    padding-bottom: 0; }
    .pricing-trial.display-flex .right-content {
      margin-top: 2em; }

.frequently-asked-questions .left-content {
  flex: none; }
.frequently-asked-questions .right-content {
  flex: 1; }
.frequently-asked-questions a {
  max-width: 300px;
  line-height: 1.3; }
.frequently-asked-questions h2 {
  margin-bottom: 2em; }
.frequently-asked-questions li {
  padding: 3em 0;
  border-bottom: 1px solid #eaeaea; }
  .frequently-asked-questions li:last-child {
    border: 0; }
  .frequently-asked-questions li:first-child {
    padding-top: 1em; }

.newsletter .border-top {
  padding-top: 4em; }
.newsletter .response {
  margin: 2em auto 2em;
  line-height: 1.4;
  max-width: 400px; }
.newsletter h5 {
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 500;
  color: #737373;
  padding-bottom: 1em; }
.newsletter h2, .newsletter p {
  margin-left: auto;
  margin-right: auto; }
.newsletter img {
  width: 60%;
  max-width: 200px;
  margin: 0 auto 2em;
  display: block; }
.newsletter form {
  width: 90%;
  max-width: 300px;
  margin: 4em auto 0; }
.newsletter input,
.newsletter button,
.newsletter input[type="submit"] {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

footer {
  position: relative;
  padding: 0 0 5em; }
  footer .logo {
    position: relative;
    width: 30px;
    height: 30px;
    display: block; }
  footer .content-wrapper {
    padding-top: 5em;
    border-top: 1px solid #ECECEC; }
  footer .content-wrapper.display-flex .left-content {
    flex: none;
    padding-top: 2em;
    max-width: 375px; }
  footer .right-content {
    padding-top: 2em; }
  footer ul:nth-child(3) {
    padding-top: 2em; }
  footer ul li {
    line-height: 2; }
  footer ul a {
    display: block;
    border-bottom: 1px solid #ECECEC;
    padding: 0.5em 0; }
  footer ul:nth-child(4) {
    padding-bottom: 2em; }
    footer ul:nth-child(4) li:last-child a {
      border: 0; }
  footer p.small {
    margin-bottom: 0; }

input[type="text"],
input[type="email"],
#support-input,
select,
textarea {
  padding: 20px;
  font-size: 1.1em;
  border: 1px solid #ECECEC;
  background: #fff;
  font-family: "Avenir Next", "Poppins", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Helvetica", "Gill Sans", sans-serif;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box; }

button,
input[type="submit"] {
  padding: 20px;
  background: #050505;
  border: 0;
  color: white;
  margin-top: 1em;
  font-size: 1.1em;
  font-family: "Avenir Next", "Poppins", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Helvetica", "Gill Sans", sans-serif;
  cursor: pointer;
  transition: background-color 100ms ease-in-out; }
  button:hover,
  input[type="submit"]:hover {
    background: #737373; }

.faq a {
  display: inline-block; }
.faq li {
  position: relative; }
  .faq li:first-child:after {
    top: 1em; }
.faq li:after {
  content: "";
  position: absolute;
  top: 3em;
  right: 0;
  width: 24px;
  height: 24px;
  transform: translate(0, -50%) rotate(0);
  background: transparent url("../images/faq_icon_collapsed.png") 0 0 no-repeat;
  background-size: 100% auto; }
.faq li.active:after {
  transform: translate(0, -50%) rotate(45deg); }
.faq li.active .answer {
  display: block; }
.faq li.active > a {
  padding-bottom: 2em; }
.faq .answer {
  padding-top: 1em;
  display: none; }

/*********************************************
 *********************************************
 *********************************************
 *********************************************
 * Contact
 *********************************************
 *********************************************
 *********************************************
 *********************************************
 */
.contact h1 {
  margin-bottom: 1em; }
.contact label {
  display: block;
  margin-bottom: 1em; }
.contact label + input,
.contact textarea,
.contact .select-container {
  margin-bottom: 2em; }
.contact input {
  width: 100%; }
.contact .select-container {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #ECECEC;
  overflow: hidden;
  background: #ffffff url("../images/arrow_down.svg") 96% 49% no-repeat;
  position: relative; }
.contact select {
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .contact select:focus {
    outline: none; }
.contact textarea {
  width: 100%;
  height: 200px; }
.contact form {
  margin-top: 4em; }

/*********************************************
 *********************************************
 *********************************************
 *********************************************
 * Features
 *********************************************
 *********************************************
 *********************************************
 *********************************************
 */
.features {
  padding-top: 6em;
  padding-bottom: 0; }
  .features > .centered {
    padding-bottom: 6em; }

.feature-row {
  line-height: 1.4;
  font-size: 0.9em; }
  .feature-row .feature {
    text-align: center; }
  .feature-row strong {
    font-weight: 500;
    max-width: 220px;
    display: block;
    margin: 0 auto;
    font-size: 1.2em;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate3d(-50%, 0, 0); }
    .feature-row strong.image-wrap {
      max-width: none;
      font-size: 0;
      text-indent: -9999px;
      position: static;
      bottom: auto;
      width: 100%;
      top: 0;
      left: 0;
      height: 100%;
      transform: none; }
      .feature-row strong.image-wrap img {
        width: 100%; }
  .feature-row li {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    margin-bottom: 30px; }
    .feature-row li.summary .image-container {
      padding-bottom: 0; }
    .feature-row li.summary strong {
      top: 40px;
      bottom: auto; }
    .feature-row li.calorie-recs .image-container {
      padding-top: 0; }
  .feature-row .image-container {
    position: relative;
    background: #F8F8F8;
    border-radius: 24px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    -ms-border-radius: 24px; }
    .feature-row .image-container img {
      width: 100%;
      display: block;
      margin: 0 auto; }
      .feature-row .image-container img.desktop {
        display: none; }

.features-continued ul {
  padding-top: 4em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .features-continued ul li {
    line-height: 1.5;
    padding-bottom: 2em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    color: #737373; }
    .features-continued ul li strong {
      font-weight: 500;
      display: block;
      color: #050505; }

/*********************************************
 *********************************************
 *********************************************
 *********************************************
 * Tips
 *********************************************
 *********************************************
 *********************************************
 *********************************************
 */
.tips-header .left-content {
  width: 37.2%;
  margin-right: 25.5%; }
.tips-header .right-content {
  flex: 1; }
.tips-header .border-top {
  padding-bottom: 6em; }
  .tips-header .border-top:nth-child(2) {
    margin-top: 12em; }
.tips-header h2 + img {
  padding-top: 3em; }

@media screen and (min-width: 500px) {
  .dashboard .content-wrapper.padding-top h2 {
    text-align: left;
    margin: 0; }

  .dashboard-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .dashboard-options ul {
      padding-bottom: 0;
      width: 50%; }
      .dashboard-options ul:nth-child(1), .dashboard-options ul:nth-child(2), .dashboard-options ul:nth-child(3), .dashboard-options ul:nth-child(4), .dashboard-options ul:nth-child(6), .dashboard-options ul:nth-child(7), .dashboard-options ul:nth-child(8) {
        margin-bottom: 4em; }

  .awards .awards-container {
    margin: 0 auto;
    width: 100%; } }
@media screen and (min-width: 768px) {
  .scroll-container,
  #how-it-works {
    position: unset;
    overflow: visible;
    padding-bottom: 0; }

  .scroll-container {
    padding: 0; }

  .sticky {
    position: -webkit-sticky;
    position: sticky;
    overflow: visible;
    top: 0; }

  .sticky-container {
    position: relative;
    top: 50%;
    transform: translate(0, -50%); }

  #story-container {
    padding-top: 0;
    margin-top: 0; }

  .hero-a {
    z-index: 2; }

  .hero-b {
    z-index: 1; }

  .device-bezel {
    z-index: 3; }

  .mask-container {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }

  .how-it-works {
    padding-top: 10em; }
    .how-it-works .scroll-container {
      height: 300vh; }
      .how-it-works .scroll-container .content-wrapper {
        margin-top: 4em;
        height: 100vh;
        min-height: 900px; }
    .how-it-works .button {
      display: none; }
    .how-it-works .off-day-text,
    .how-it-works .callouts {
      padding-top: 0;
      text-align: left;
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      transform: translate(0, -50%); }
      .how-it-works .off-day-text.active,
      .how-it-works .callouts.active {
        opacity: 1; }
    .how-it-works .text-left,
    .how-it-works .text-right {
      flex: 1;
      position: relative; }
    .how-it-works .phone-gap {
      width: 50%; }
    .how-it-works .callouts {
      text-align: left;
      top: 50%;
      position: relative;
      transform: translate(0, -50%);
      opacity: 0;
      transition: opacity 400ms ease-in-out; }
      .how-it-works .callouts .callout {
        padding-left: 40px;
        position: relative; }
        .how-it-works .callouts .callout span {
          display: inline-block;
          opacity: 0;
          transition: opacity 600ms ease-in-out;
          transition-delay: 200ms; }
        .how-it-works .callouts .callout.b {
          margin-top: 10em; }
          .how-it-works .callouts .callout.b span {
            transition-delay: 800ms; }
          .how-it-works .callouts .callout.b:before {
            transition-delay: 600ms; }
        .how-it-works .callouts .callout:before {
          content: "";
          position: absolute;
          top: 12px;
          left: 0;
          width: 0;
          height: 1px;
          transition: width 300ms ease-in-out;
          background: #ababab; }
      .how-it-works .callouts.active .callout span {
        opacity: 1; }
      .how-it-works .callouts.active .callout:before {
        width: 20px; }
    .how-it-works .iphone {
      margin: 0 auto;
      width: 50%; }

  .guided-setup {
    padding-top: 0;
    text-align: center; }
    .guided-setup h2, .guided-setup p {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto; }

  .long-term-habits {
    padding-top: 0; }
    .long-term-habits .icon-list {
      text-align: center;
      margin: 0 auto;
      width: 100%;
      display: block;
      padding-top: 6em; }
      .long-term-habits .icon-list li {
        text-align: center;
        display: inline-block;
        width: 20%;
        margin: 0 2%;
        padding: 0; }
        .long-term-habits .icon-list li img {
          width: 40px;
          height: 40px; }

  .user-stats {
    padding-top: 6em; }
    .user-stats .value {
      padding-bottom: .4em; }
    .user-stats li {
      width: auto;
      padding: 0;
      margin: 0 1em; }
      .user-stats li:last-child {
        width: auto; }

  .icon-list {
    text-align: left;
    display: flex;
    padding-top: 4em; }
    .icon-list li {
      width: 28%;
      padding-right: 5%;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box; }
    .icon-list img {
      width: 40px;
      height: 40px; }
    .icon-list strong {
      margin-top: 0.25em; }

  .dashboard .full-width {
    width: 100%;
    margin-left: 0;
    padding-top: 8em; }
  .dashboard .left-content {
    flex: none; }
    .dashboard .left-content p {
      max-width: 250px; }
  .dashboard .content-wrapper:first-child {
    border-bottom: 1px solid #222;
    padding-bottom: 0; }
  .dashboard .content-wrapper.padding-top {
    padding-top: 6em; }
  .dashboard .content-wrapper .left-content {
    flex: 1; }
  .dashboard .content-wrapper .iphone {
    width: 360px;
    right: 0;
    max-width: none; }
  .dashboard .content-wrapper .iphone-container {
    overflow: hidden;
    height: 570px;
    right: 0;
    bottom: 0; }

  .dashboard-presets {
    font-size: 2em;
    padding-bottom: 0;
    padding-top: 2em; }
    .dashboard-presets li {
      text-align: left; }
    .dashboard-presets a {
      background-position: 0px 7px;
      background-size: 50px auto; }
      .dashboard-presets a:before {
        width: 50px;
        height: 50px;
        background-position: 0px 2px;
        background-size: 40px auto; }
      .dashboard-presets a.active {
        padding-left: 50px; }

  .dashboard-options {
    padding: 8em 0 0; }
    .dashboard-options ul {
      padding-bottom: 0;
      width: 25%; }
      .dashboard-options ul:nth-child(1), .dashboard-options ul:nth-child(2), .dashboard-options ul:nth-child(3), .dashboard-options ul:nth-child(4), .dashboard-options ul:nth-child(5) {
        margin-bottom: 4em; }
      .dashboard-options ul:nth-child(6), .dashboard-options ul:nth-child(7), .dashboard-options ul:nth-child(8), .dashboard-options ul:nth-child(9), .dashboard-options ul:nth-child(10) {
        margin-bottom: 0; }

  .backstory {
    padding-bottom: 0; }
    .backstory .border-top {
      border-top: 1px solid #ECECEC; }
    .backstory .left-content {
      width: 45%;
      margin-right: 9%;
      flex: none;
      padding-bottom: 4em; }
    .backstory .right-content {
      flex: 1; }
      .backstory .right-content img {
        margin-bottom: 3em; }
    .backstory .content-wrapper.border-top h2 {
      max-width: 380px; }
    .backstory .icon-list {
      padding-top: 8em; }

  .awards .awards-container {
    width: 80%;
    max-width: 800px; }
  .awards .text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    padding: 12em 0;
    transform: translate(-50%, -50%); }

  .apple-health .content-wrapper:first-child {
    padding-bottom: 4em; }
    .apple-health .content-wrapper:first-child h2 {
      max-width: 500px; }
    .apple-health .content-wrapper:first-child p {
      max-width: 400px; }

  .apple-watch-screen-1 {
    width: 25%; }
    .apple-watch-screen-1 img {
      width: 100%; }

  .apple-watch-screen-2 {
    width: 55%; }
    .apple-watch-screen-2 img {
      width: 60%; }

  .more-features {
    padding-bottom: 0; }
    .more-features .left-content {
      flex: none;
      width: 37.2%;
      margin-right: 25.5%; }
      .more-features .left-content p {
        max-width: 340px; }
    .more-features .right-content {
      padding-top: 0; }

  .pricing {
    padding-bottom: 0; }
    .pricing h2 {
      text-align: left; }
    .pricing h3 {
      text-transform: uppercase;
      font-size: 0.75em;
      letter-spacing: 0.1em;
      font-weight: 600; }
    .pricing .price {
      font-size: 1.8em;
      display: block;
      padding: .5em 0;
      font-weight: 500; }
    .pricing .price-details {
      margin-bottom: 2em; }
    .pricing ul {
      padding-top: 3em; }
      .pricing ul li {
        margin: 1em 0;
        line-height: 1.4; }
    .pricing .pricing-basic,
    .pricing .pricing-pro,
    .pricing .pricing-trial {
      display: inline-block;
      width: 30%;
      margin: 5em 0 0;
      padding: 40px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box; }
    .pricing .pricing-basic {
      background: #EDEDED;
      flex: 1;
      vertical-align: bottom; }
    .pricing .pricing-pro {
      width: 40%;
      background: #0047FF;
      color: white; }
    .pricing .pricing-trial {
      background: #DAE5FF;
      flex: 1;
      vertical-align: top; }
      .pricing .pricing-trial .button {
        margin-top: 4em; }

  .support {
    padding-bottom: 0; }
    .support .icon-list {
      text-align: center; }

  .frequently-asked-questions {
    padding-bottom: 0; }
    .frequently-asked-questions .left-content {
      width: 15%;
      margin-right: 35%; }
    .frequently-asked-questions .right-content {
      width: 50%; }
    .frequently-asked-questions li {
      padding: 3em 0;
      border-bottom: 1px solid #eaeaea; }
      .frequently-asked-questions li:last-child {
        border: 0; }

  .free-trial {
    text-align: left; }
    .free-trial h2 {
      line-height: 1.2; }
    .free-trial img {
      margin-top: 0; }
    .free-trial .left-content {
      padding: 4em 0;
      width: 21.5%;
      margin-right: 17%;
      vertical-align: middle; }
    .free-trial .right-content {
      width: 37.2%; }

  .newsletter form {
    max-width: 400px; }
  .newsletter .border-top {
    padding-top: 6em; }
  .newsletter img {
    max-width: 300px;
    margin: 0 auto 4em;
    display: block; }

  footer {
    position: relative;
    padding: 0 0 8em;
    font-size: 0.8em; }
    footer .logo {
      position: absolute;
      top: 5em;
      left: 0;
      width: 30px;
      height: 30px; }
    footer .content-wrapper {
      padding-top: 5em;
      border-top: 1px solid #ECECEC; }
    footer .content-wrapper.display-flex .left-content {
      flex: none;
      width: 25%;
      margin-right: 15%;
      margin-left: 9%;
      padding: 0; }
    footer ul {
      margin-right: 4.5%;
      width: 29.4%; }
      footer ul:nth-child(3) {
        padding: 0; }
      footer ul li {
        line-height: 1; }
      footer ul a {
        display: inline-block;
        border: 0;
        line-height: 1.3; }
      footer ul:last-child {
        margin-right: 9%; }
    footer p.small {
      padding-top: 1.5em; }

  .contact form {
    margin-top: 0; }
  .contact .left-content {
    width: 30%;
    margin-right: 30%;
    flex: none; }
  .contact .right-content {
    width: 40%; }

  /************
  **************
  ****** FEATURES **********
  **************
  ***************/
  .features {
    padding-top: 6em; }
    .features > .centered {
      padding-bottom: 6em; }

  .feature-row .image-container img.desktop {
    display: block; }

  .feature-row {
    display: flex;
    flex-wrap: nowrap;
    line-height: 1.4;
    font-size: 0.9em; }
    .feature-row .feature {
      width: 25%;
      padding-right: 10px;
      padding-bottom: 10px;
      position: relative;
      margin-bottom: 0; }
      .feature-row .feature img {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100%;
        width: auto;
        transform: translate3d(-50%, -50%, 0); }
        .feature-row .feature img.mobile {
          display: none; }
      .feature-row .feature strong {
        display: block;
        text-align: center;
        position: absolute;
        bottom: 20px;
        width: 80%;
        left: 50%;
        max-width: none;
        transform: translate3d(-50%, 0, 0);
        font-size: 0.8em;
        font-weight: 500;
        line-height: 1.1; }
        .feature-row .feature strong.image-wrap img {
          width: auto; }
      .feature-row .feature .image-container {
        width: 100%;
        position: relative;
        padding: 0; }
        .feature-row .feature .image-container:after {
          content: "";
          display: block;
          padding-bottom: 100%; }
      .feature-row .feature.hero {
        width: 50%; }
    .feature-row.half-width {
      flex-wrap: wrap;
      flex-direction: row;
      width: 50%; }
      .feature-row.half-width .feature {
        width: 50%; }
        .feature-row.half-width .feature .block {
          text-align: center;
          max-width: none; }
        .feature-row.half-width .feature.full-width {
          width: 100%; }
          .feature-row.half-width .feature.full-width img {
            left: 25%; }
          .feature-row.half-width .feature.full-width.awards strong, .feature-row.half-width .feature.full-width.food-sync strong, .feature-row.half-width .feature.full-width.guided-first-steps strong {
            font-size: 0;
            text-indent: -9999px;
            top: 0;
            left: 50%;
            width: 100%;
            height: 100%;
            transform: translate3d(-50%, 0%, 0); }
          .feature-row.half-width .feature.full-width.awards img, .feature-row.half-width .feature.full-width.food-sync img, .feature-row.half-width .feature.full-width.guided-first-steps img {
            left: 50%;
            height: auto;
            height: 80%;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            transform: translate3d(-50%, -50%, 0); }
          .feature-row.half-width .feature.full-width strong {
            text-align: left;
            position: absolute;
            top: 50%;
            left: 50%;
            bottom: auto;
            width: 40%;
            max-width: 200px;
            transform: translate3d(0%, -50%, 0); }
          .feature-row.half-width .feature.full-width .image-container:after {
            padding-bottom: 50%; }
      .feature-row.half-width .hero {
        width: 100%;
        display: flex;
        flex-flow: column; }
        .feature-row.half-width .hero img {
          height: auto;
          width: 100%; }
        .feature-row.half-width .hero.summary strong {
          bottom: auto;
          top: 30px; }
        .feature-row.half-width .hero strong {
          font-size: 1.3em;
          width: 60%;
          bottom: 30px; }
        .feature-row.half-width .hero .image-container.flex {
          flex: 1 1 auto;
          vertical-align: middle; }

  .features-continued ul {
    padding-top: 8em; }
    .features-continued ul li {
      width: 25%;
      padding-bottom: 0;
      padding-right: 40px; }
      .features-continued ul li:nth-child(1), .features-continued ul li:nth-child(2), .features-continued ul li:nth-child(3), .features-continued ul li:nth-child(4)
      .features-continued ul li:nth-child(5), .features-continued ul li:nth-child(6), .features-continued ul li:nth-child(7), .features-continued ul li:nth-child(8) {
        padding-bottom: 4em; }

  .pricing-trial.display-flex {
    padding: 0 20px; }
    .pricing-trial.display-flex .left-content {
      padding: 20px 0;
      width: 40%;
      flex: none; }
      .pricing-trial.display-flex .left-content h3 {
        max-width: 180px;
        font-size: 1.3em;
        display: inline-block;
        line-height: 1.2; }
      .pricing-trial.display-flex .left-content .button {
        position: absolute;
        bottom: 20px;
        left: 20px;
        display: inline-block; }
    .pricing-trial.display-flex .right-content {
      flex: 1;
      margin-top: 0;
      text-align: right; }
      .pricing-trial.display-flex .right-content img {
        width: 70%;
        float: right;
        margin-right: 40px; }
        .pricing-trial.display-flex .right-content img.desktop {
          display: inline-block; } }
@media screen and (min-width: 830px) {
  .how-it-works .iphone,
  .how-it-works .phone-gap {
    width: 350px; }
  .how-it-works .text-left {
    margin-right: 5%; }
  .how-it-works .text-right {
    margin-left: 5%; } }
@media screen and (min-width: 1024px) {
  .how-it-works {
    padding-top: 6em; }
    .how-it-works .iphone,
    .how-it-works .phone-gap {
      width: 380px; }
    .how-it-works .text-left,
    .how-it-works .text-right {
      margin: 0; }
    .how-it-works .scroll-container .content-wrapper {
      min-height: 1000px; }

  .dashboard .left-content p {
    max-width: 350px; }
  .dashboard .content-wrapper .iphone {
    width: 440px; }
  .dashboard .content-wrapper .iphone-container {
    height: 700px; }

  .dashboard-presets {
    padding-top: 4em;
    font-size: 2.5em; }
    .dashboard-presets a {
      background-position: 0px 7px;
      background-size: 50px auto; }
      .dashboard-presets a:before {
        width: 50px;
        height: 50px;
        background-position: 0px 0;
        background-size: 50px auto; }
      .dashboard-presets a.active {
        padding-left: 70px; }

  .dashboard-options ul {
    width: 20%; }

  .apple-health .content-wrapper:first-child h2 {
    max-width: 600px; }

  .awards .text-content {
    width: 280px; }
  .awards .awards-icons li {
    margin: -35px 0 0 -35px; }
    .awards .awards-icons li img {
      width: 70px;
      height: 70px; }

  footer {
    padding-bottom: 8em; }
    footer .content-wrapper {
      padding-top: 8em; }
    footer .logo {
      top: 8em; }

  .feature-row .feature {
    padding-right: 20px;
    padding-bottom: 20px; }
    .feature-row .feature.guided-first-steps strong {
      font-size: 0;
      text-indent: -9999px;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: none; }
    .feature-row .feature strong {
      bottom: 20px;
      width: 80%;
      font-size: 1.2em;
      letter-spacing: -0.04em; }
  .feature-row.half-width .feature.full-width strong {
    width: 40%;
    max-width: 240px; }
  .feature-row.half-width .hero.summary strong {
    top: 40px; }
  .feature-row.half-width .hero strong {
    font-size: 2em;
    width: 60%;
    bottom: 40px; }

  .pricing-trial.display-flex {
    padding: 0 30px; }
    .pricing-trial.display-flex .left-content {
      padding: 30px 0; }
      .pricing-trial.display-flex .left-content h3 {
        max-width: 240px;
        font-size: 1.8em; }
      .pricing-trial.display-flex .left-content .button {
        bottom: 30px;
        left: 30px; }
    .pricing-trial.display-flex .right-content img {
      width: 60%;
      margin-right: 40px; } }
@media screen and (min-width: 1200px) {
  .how-it-works .callouts .callout {
    padding-left: 70px; }
  .how-it-works .callouts.active .callout:before {
    width: 60px; }
  .how-it-works .iphone,
  .how-it-works .phone-gap {
    width: 420px; }

  .dashboard .content-wrapper .iphone {
    width: 503px; }
  .dashboard .content-wrapper .iphone-container {
    height: 800px; }

  .dashboard-presets {
    font-size: 3em; }
    .dashboard-presets a {
      background-position: 0px 7px;
      background-size: 60px auto; }
      .dashboard-presets a:before {
        width: 60px;
        height: 60px;
        background-position: 0px 2px;
        background-size: 60px auto; }
      .dashboard-presets a.active {
        padding-left: 80px; }

  .feature-row .feature strong {
    bottom: 30px;
    width: 80%;
    font-size: 1.4em; }
  .feature-row.half-width .hero.summary strong {
    top: 60px; }
  .feature-row.half-width .hero strong {
    font-size: 2.6em;
    bottom: 60px; } }
@media screen and (min-width: 1440px) {
  .how-it-works .iphone,
  .how-it-works .phone-gap {
    width: 450px; }
  .how-it-works .scroll-container .content-wrapper {
    min-height: 1000px; } }
@media screen and (min-width: 1600px) {
  .how-it-works {
    padding-top: 15vh; }
    .how-it-works .iphone,
    .how-it-works .phone-gap {
      width: 500px; } }
