@import "nav";
@import "mixins";
@import "utilities";

html,
body {
  color: $textColorPrimary;
  font-size: 16px;
  background-color: $lightBackground;
  @include fontFamily;
  /* Fix for bolder font rendering on Firefox */
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  width: 100vw;
}

body {
  counter-reset: item;
  @include aliasing;
}

a {
  text-decoration: none;
  color: $textColorPrimary;
}

a:hover {
  text-decoration: underline;
  color: $textColorPrimary;
}

p {
  padding-bottom: 1em;

  &:last-child {
    padding-bottom: 0;
  }
}

h1, h2, h3, h4 {
  line-height: 1.1em;
  font-weight: 500;
}

h1 {
  font-size: 2em;
  letter-spacing: -0.05em;
}

h2, h3  {
  font-size: 1.35em;
  letter-spacing: -.04em;
}

h4 {
  font-size: 1.1em;
  font-weight: 600;
}

p {
  font-size: 1em;
  line-height: 1.4;
}

p.small {
  font-size: 0.8em;
}

@media screen and (min-width:768px) {
  h1 {
    font-size: 2em;
    letter-spacing: -0.05em;
  }

  h2, h3  {
    font-size: 1.6em;
    letter-spacing: -.04em;
  }
}

@media screen and (min-width:1200px) {
  h1 {
    font-size: 3.7em;
    letter-spacing: -0.05em;
  }

  h2, h3  {
    font-size: 2.25em;
    letter-spacing: -.04em;
  }

  p {
    font-size: 1.1em;
  }
}

/*

         888          888               888
         888          888               888
         888          888               888
 .d88b.  888  .d88b.  88888b.   8888b.  888
d88P"88b 888 d88""88b 888 "88b     "88b 888
888  888 888 888  888 888  888 .d888888 888
Y88b 888 888 Y88..88P 888 d88P 888  888 888
 "Y88888 888  "Y88P"  88888P"  "Y888888 888
     888
Y8b d88P
 "Y88P"

*/

.content-wrapper {
  @include overflowfix;
  width: 91%;
  //padding: 0 80px;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  @include box-sizing;

  &.col-2 {
    width: 76%;
  }

  &.col-3 {
    width: 68%;
  }
}

.left-content,
.right-content {
  > img {
    width: 100%;
  }
}

hr.single {
  width: 91%;
  margin: 0 auto;
  border-top: 1pox solid $borderColor
}

hr.col-1 {
  width: 91%;
  margin: 0 auto;
  border-top: 1pox solid $borderColor
}

h1 + h2 {
  margin-top: 1em;
}

h1 + p {
  margin-top: 1em;
}

h2 + p {
  margin-top: 1em;
}

p + h2 {
  margin-top: 1em;
}

.heading-label + h1,
.heading-label + h2 {
  margin-top: 0.3em;
}

p {
  color: $textColorSecondary;
}

.paragraphs {
  padding-top: 6em;

  h1 {
    margin-bottom: 2em;
  }

  h1, h2, h3, h4, h5, p {
    width: 100%;
  }
}

.heading-label {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 4%;
}

.mobile {
  display: block;
}

.desktop {
  display: none;
}

blockquote {
  border-left: 4px solid #cdcdcd;
  padding-left: 1em;
  color: $textColorSecondary;
  line-height: 1.4;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.display-block {
  display: block;
}

.purple {
  color: #8F00FF;
}

.blue {
  color: #0047FF;
}

#loading-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 1;
  @include transition(transform, 100ms, ease-in-out);

  &.hidden {
    transform: translate3d(0, 10px, 0);
  }

  span {
    flex: 1;
    height: 10px;

    &:first-child {
      background: #0041EA;
    }

    &:nth-child(2) {
      background: #7100C9;
    }

    &:last-child {
      background: #B81DB1;
    }
  }
}

@media screen and (min-width:768px) {
  img.mobile {
    display: none;
  }

  img.desktop {
    display: block;
  }
}


/*********************************************
 *********************************************
 *********************************************
 *********************************************
 * Homepage
 *********************************************
 *********************************************
 *********************************************
 *********************************************
 */
.introduction {
  overflow: visible;
  z-index: 2;

  h3, p {
    max-width: 500px;
    margin: 0 auto;
  }
}

.hero {
  width: 100%;
}

.calorie-tracking {
  .card {
    margin: 6em 0;
  }
}

.scroll-container,
#how-it-works {
  position: unset;
  overflow: visible;
}

section {
  z-index: 2;
}

#story-container.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 50%;
  transform: translate(0, -50%);
  overflow: visible;
}

.theme-selector {
  padding: 2em 0;
  text-align: center;
  max-width: 240px;
  margin: 0 auto;
}

.iphone .theme_preview.active {
  display: block;
}

.iphone .theme_preview {
  display: none;
}

.dashboard {
  background: $darkBackground;
  color: white;

  p {
    color: $textColorSecondaryOnDark;
  }

  .col-1 {
    padding-top: 5em;
  }

  .left-content {
    padding-bottom: 5em;
  }

  hr {
    border-color: #333;
  }

  h2.large {
    width: 100%;
  }

  p.xlarge {
    margin-top: 1em;
  }
}

.dashboard-presets {
  padding: 5em 0;

  li {
    text-align: center;
    color: $textColorSecondaryOnDark;
    padding: 2em 0;
    line-height: 2;

    strong {
      display: block;
      color: white;
    }

    img {
      width: 90%;
      max-width: 400px;
      margin: 0 auto;
      padding-bottom: 2em;
      display: block;
    }
  }
}

.dashboard-options {
  padding: 5em 0 5em;

  ul {
    padding-bottom: 2em;

    li {
      color: $textColorSecondaryOnDark;
      line-height: 2;

      strong {
        display: block;
        color: white;
        font-weight: 500;
      }
    }
  }
}

.lifestyle,
.support-items {
  text-align: center;

  li {
    padding: 4em 0;
    display: block;
    line-height: 1.7;
    color: $textColorSecondary;
  }

  img {
    width: 56px;
    height: 56px;
  }

  strong {
    color: $textColorPrimary;
    display: block;
    font-size: 1.5em;
    font-weight: 500;
    margin: 1em 0 0.5em;
  }
}

.support-items {
  padding-left: 4.5%;
  text-align: left;

  strong {
    font-size: 1.2em;
  }

  li {
    padding-right: 0;
  }

  img {
    width: 44px;
    height: 44px;
  }
}

.food-library {
  h2 {
    padding-bottom: 2em;
  }
}

.data-highlights {
  color: $textColorSecondary;
  border-top: 1px solid $borderColor;
  padding-top: 2.5em;
  margin-top: 5em;

  li {
    line-height: 1.3;
    margin-bottom: 2em;
  }

  .label {
    display: block;
  }

  .value {
    font-size: 3em;
    color: $textColorPrimary;
  }
}

.food-library-features {
  padding-top: 3em;

  li {
    position: relative;
    padding-left: 50px;
    line-height: 2;
    margin-bottom: 1em;

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
    }
  }
}

.awards {
  img {
    padding-top: 2em;
    width: 200%;
    margin-left: -50%;
  }
}

.more-features {
  .left-content {
    margin-bottom: 4em;
  }

  li {
    position: relative;
    padding-left: 70px;
    color: $textColorSecondary;
    line-height: 1.5;
    margin-bottom: 3em;

    strong {
      color: $textColorPrimary;
      display: block;
      font-weight: 400;
      font-size: 1.2em;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 44px;
      height: 44px;
    }
  }
}

.pricing {
  .price {
    font-size: 2em;
    letter-spacing: -0.08em;
    display: block;
    padding: .5em 0;
  }

  .price-details {
    margin-bottom: 2em;
  }

  ul {
    padding-top: 3em;

    li {
      margin: 1em 0;
      line-height: 1.4;
    }
  }

  .left-content,
  .right-content {
    padding: 40px;
    width: 100%;
    @include box-sizing;
    margin-top: 4em;
  }

  .left-content {
    background: #EBEBEB;
    margin-right: 20px;
  }

  .right-content {
    background: #FFDFDF;
  }

  p.small {
    margin: 4em auto 0;
    width: 70%;
    max-width: 400px;
  }
}

.support .support-items {
  margin: 1em 0;
  padding-left: 0;

  li {
    padding-bottom: 0;
  }
}

.free-trial {
  padding: 2em 0;
  background: #F9C9DE;
  text-align: center;

  h2 {
    line-height: 1.4;
  }

  .button {
    margin-top: 2em;
  }

  img {
    margin-top: 2em;
  }

  .left-content {
    padding: 4em 0;
  }
}

#faq {
  background-color: #fff;

  li {
    background-color: #fff;
    border-bottom: 1px solid #DBDBDB;
  }
}

#faq.frequently-asked {
  .left-content {
    flex: none;
  }

  .right-content {
    flex: 1;
  }

  h2 {
    margin-bottom: 2em;
  }

  li {
    padding: 3em 0;
    border-bottom: 1px solid #eaeaea;

    &:last-child {
      border: 0;
    }

    &:first-child {
      padding-top: 1em;
    }
  }
}

.newsletter {
  h5 {
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 500;
    color: $textColorSecondary;
    padding-bottom: 1em;
  }

  h2, p {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  form {
    width: 40%;
    margin: 4em auto 0;
  }

  input,
  button {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  button {
    background: $textColorPrimary;
    border: 0;
    color: white;
    margin-top: 1em;
    font-size: 1.1em;
    @include fontFamily;

    &:hover {
      background: $textColorSecondary;
    }
  }

}

footer {
  padding: 5em 0;

  p {
    font-size: 1em;
    color: $textColorPrimary;
  }

  .logo {
    position: absolute;
    top: 2em;
    left: 0;
    width: 20px;
    height: 20px;
  }

  ul {
    li {
      line-height: 2;
    }
  }

  p.small {
    margin-bottom: 5em;
  }
}

input[type="text"],
#support-input,
select,
textarea {
  padding: 20px;
  font-size: 1.1em;
  border: 1px solid $borderColor;
  background: #fff;
  @include fontFamily;
  @include box-sizing;
}

.faq {
  a {
    display: inline-block;
  }

  li {
    background: transparent url("../images/faq_icon_collapsed.png") right 2.75em no-repeat;
    background-size: 20px 20px;
  }

  li.active {
    background-image: url("../images/faq_icon_expanded.png");

    .answer {
      display: block;
    }

    > a {
      padding-bottom: 2em;
    }
  }

  .answer {
    padding-top: 1em;
    display: none;
  }
}

/*********************************************
 *********************************************
 *********************************************
 *********************************************
 * Contact
 *********************************************
 *********************************************
 *********************************************
 *********************************************
 */
.contact {
  h1 {
    margin-bottom: 1em;
  }

  label {
    display: block;
    margin-bottom: 1em;
  }

  label + input,
  textarea,
  .select-container {
    margin-bottom: 2em;
  }

  input {
    width: 100%;
  }

  .select-container {
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    background: #f1f1f1 url("../images/arrow_down.svg") 96% 49% no-repeat;
    position: relative;
  }

  select {
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
      outline: none;
    }
  }

  textarea {
    width: 100%;
    height: 200px;
  }

  form {
    margin-top: 4em;
  }
}

/*********************************************
 *********************************************
 *********************************************
 *********************************************
 * About
 *********************************************
 *********************************************
 *********************************************
 *********************************************
 */

 .about-intro {
   h1 {
     margin-bottom: 2em;
   }
 }

 .about-devices {
   padding: 0;
}

.about-history {
  padding-top: 5em;

  .left-content {
    img {
      margin-bottom: 2em;
    }
  }

  h2 {
    margin: 4em 0 2em;
  }
}

 .setup-item {
   width: 86%;
   margin: 0 auto;
   position: relative;
   margin-bottom: 6em;

   &:last-child {
     margin-bottom: 0;
   }

   .image-container {
     width: 100%;
     background: #E7EAEF;
     height: 350px;
     overflow: hidden;
     position: relative;

     img {
       width: 80%;
       position: absolute;
       top: 40px;
       left: 10%;
       display: block;
     }
   }

   .content-container {
     padding-top: 1em;
   }

   .label {
     display: block;
     font-weight: 500;
   }

   .description {
     display: block;
     margin-top: .5em;
     line-height: 1.4;
   }
 }

 /*********************************************
  *********************************************
  *********************************************
  *********************************************
  * Features
  *********************************************
  *********************************************
  *********************************************
  *********************************************
  */
.features {
  padding: 6em 0;

  > .centered {
      padding-bottom: 6em;
  }
}

.feature-row {
  display: flex;
  flex-wrap: nowrap;
  line-height: 1.4;
  font-size: 0.9em;

  .feature-name {
    display: block;
    font-weight: 600;
    margin-top: 1em;
  }

  span {
    max-width: 200px;
  }

  li {
    width: 25%;
    padding-right: 20px;
    padding-bottom: 10em;
    position: relative;
    @include box-sizing;

    .feature-text {
      position: absolute;
      top: 100%;
      margin-top: -9.5em;
    }

    &.col-2 {
      width: 50%;
    }

    &.hero {
      width: 50%;
    }
  }

  &.half-width {
    flex-wrap: wrap;
    flex-direction: row;
    width: 50%;

    .feature {
      width: 50%;
    }

    .hero {
      width: 100%;
      display: flex;
      flex-flow: column;
      height: 100%;

      .image-container {
        flex: 1 1 auto;
      }
    }
  }

  .image-container {
    background: #F4F4F4;
    @include borderRadius(24px);

    img {
      width: 100%;
    }
  }
}

 /*********************************************
  *********************************************
  *********************************************
  *********************************************
  * Tips
  *********************************************
  *********************************************
  *********************************************
  *********************************************
  */
.tips-header {
  padding: 10em 0 30em;
  background: #EAEBE5 url("../images/tips_header.jpg") center center no-repeat;
  background-size: auto 100%;

  p {
    margin-top: 1em;
  }
}

.tip {
  img {
    width: 90%;
    max-width: 320px;
    margin: 0 auto 2em auto;
    display: block;
  }

  h2 {
    margin-bottom: 2em;
  }
}

@media screen and (min-width:500px) {
  .support .support-items {
    li {
      display: inline-block;
      width: 50%;
      padding-right: 10%;
      @include box-sizing;
    }

    margin: 5em 0 10em;
  }
}

@media screen and (min-width:768px) {
  h2 + p {
    margin-top: 1em;
  }

  .paragraphs {
    padding-top: 8em;

    h1 {
      margin-bottom: 2.5em;
    }

    h1, h2, h3, h4, h5, p {
      max-width: 620px;
    }
  }

  .how-it-works {
    .scroll-container {
      height: 400vh;

      .content-wrapper {
        margin-top: 4em;
        height: 1vh;
        min-height: 800px;
      }
    }

    .off-day-text {
      max-width: 320px;
      position: absolute;
      top: 400px;
      left: 0;
      top: 50%;
      transform: translate(0, -50%)
    }

    .iphone {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 50%;
      margin-left: -15%;
      width: 30%;
    }
  }

  .guided-setup {
    text-align: center;

    h2, p {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .user-stats {
    padding-top: 6em;

    .value {
      font-size: 2em;
      padding-bottom: .4em;
      display: block;
    }

    li {
      display: inline-block;
      margin: 0 1em;
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition: transform 800ms ease-in-out, opacity 800ms ease-in-out;

      &:nth-child(1) {
        transition-delay: 0ms;
      }

      &:nth-child(2) {
        transition-delay: 150ms;
      }

      &:nth-child(3) {
        transition-delay: 300ms;
      }

      &:nth-child(4) {
        transition-delay: 450ms;
      }

      &:nth-child(5) {
        transition-delay: 600ms;
      }

      &.will-animate {
        opacity: 0;
        transform: translate3d(0, 30px, 0);
      }
    }
  }

  .lifestyle {
    text-align: left;
    display: flex;
    padding-top: 4em;

    li {
      width: 25%;
      padding-right: 5%;
      @include box-sizing;
    }
  }

  .dashboard {

    .full-width {
      padding-top: 8em;
    }

    .content-wrapper:first-child {
      border-bottom: 1px solid #222;
    }

    .content-wrapper {
      .left-content {
        width: $col-4-content;
        margin-right: $col-2;
      }

      .right-content {
        width: $col-5-content;
        margin-right: $col-1;
      }

      &.col-1 {
        padding-top: 6em;

        h2 {
          margin-top: 1em;
        }

        .left-content {
          margin-right: $col-3;
        }

        .right-content {
          margin-right: 0;
        }
      }

      .iphone {
        width: 80%;
        margin-left: 10%;
      }

      .iphone-container {
        overflow: hidden;
        height: 800px;
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }

  .dashboard-presets {
    font-size: 3em;
    padding-bottom: 0;

    li {
      text-align: left;
      margin: 0;
      padding: 0.2em 0;
      line-height: 1;
    }

    a {
      color: #656565;
      letter-spacing: -0.05em;

      &.active {
        color: #fff;
        background: transparent url("../images/arrow_forward.svg") 0px 7px no-repeat;
        background-size: 50px auto;
        padding-left: 66px;
      }
    }
  }

  .dashboard-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8em 0 10em;

    ul {
      width: 25%;

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(2),
      &:nth-child(4),
      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(8) {
        margin-bottom: 4em;
      }
    }
  }

  .food-library {
    .content-wrapper:first-child {
      h2 {
        width: $col-5;
        padding-bottom: 3em;
      }
    }

    .left-content {
      margin-right: $col-2;
    }

    .right-content {
      padding-top: 6em;
      width: $col-4-content;
      margin: 0;

      img {
        margin-bottom: 3em;
      }
    }
  }

  .support-items {
    padding-top: 4em;
    padding-left: 0;
    display: flex;
    text-align: left;

    img {
      width: 60px;
      height: 60px;
    }

    li {
      width: 25%;
      @include box-sizing;
      margin-right: 5%;
    }
  }

  .apple-health {
    vertical-align: bottom;

    .content-wrapper:first-child {
      h2,
      p {
        max-width: 400px;
      }

      padding-bottom: 6em;
    }

    .content-wrapper:last-child {
      text-align: right;
    }
  }

  .apple-watch-screen-1,
  .apple-watch-screen-2 {
    display: inline-block;
    position: relative;
    @include overflowfix;

    img {
      float: right;
    }

    span {
      position: absolute;
      top: 30px;
      left: 30px;
      width: 120px;
      display: inline-block;
      font-weight: 500;
      font-size: .85em;
      line-height: 1.3;
      text-align: left;
    }
  }

  .apple-watch-screen-1 {
    background: #F4D1E1;
    width: 25%;

    img {
      width: 100%;
    }
  }

  .apple-watch-screen-2 {
    background: #8F00FF;
    color: white;
    width: 55%;

    img {
      width: 60%;
    }
  }

  .awards {
    background: white url("../images/awards_bg.jpg") center center no-repeat;
    background-size: auto 60%;
    min-height: 800px;

    .content-wrapper {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 35%;
      width: 30%;
    }

    p {
      display: inline-block;
      width: 100%;
    }

    img {
      padding-top: 6em;
      width: 100%;
      margin-left: 0;
    }
  }

  .more-features {
    .left-content {
      flex: none;
      margin-right: $col-4-content;
      width: $col-4-content;
      margin-bottom: 0;
    }

    .right-content {
      flex: 1;
      width: $col-3-content;
    }

    li {
      strong {
        font-size:  1.4em;
        font-weight: 500;
      }
    }
  }

  .pricing {
    h3 {
      text-transform: uppercase;
      font-size: 0.75em;
      letter-spacing: 0.1em;
      font-weight: 600;
    }

    .price {
      font-size: 1.8em;
      display: block;
      padding: .5em 0;
      font-weight: 500;
    }

    .price-details {
      margin-bottom: 2em;
    }

    ul {
      padding-top: 3em;

      li {
        margin: 1em 0;
        line-height: 1.4;
      }
    }

    .pricing-basic,
    .pricing-pro,
    .pricing-trial {
      display:inline-block;
      width: 30%;
      margin: 5em 0 0;
      padding: 40px;
      @include box-sizing;
    }

    .pricing-basic {
      background: #EDEDED;
      flex: 1;
      vertical-align: bottom;
    }

    .pricing-pro {
      width: 40%;
      background: #0047FF;
      color: white;
    }

    .pricing-trial {
      background: #DAE5FF;
      flex: 1;
      vertical-align: top;

      .button {
        margin-top: 4em;
      }
    }
  }

  .frequently-asked {
    .left-content {
      width: 15%;
      margin-right: 35%;
    }

    .right-content {
      width: 50%;
    }

    li {
      padding: 3em 0;
      border-bottom: 1px solid #eaeaea;

      &:last-child {
        border: 0;
      }
    }
  }

  .support .support-items {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .free-trial {
    text-align: left;

    h2 {
      line-height: 1.2;
    }

    img {
      margin-top: 0;
    }

    .left-content {
      padding: 4em 0;
      width: $col-3-content;
      margin-right: $col-2;
      vertical-align: middle;
    }

    .right-content {
      width: $col-5-content;
    }
  }

  footer {
    position: relative;
    padding: 0 0 5em;

    .logo {
      position: absolute;
      top: 5em;
      left: 0;
      width: 30px;
      height: 30px;
    }

    .content-wrapper {
      padding-top: 5em;
      border-top: 1px solid $borderColor;
    }

    .content-wrapper.display-flex .left-content {
      flex: none;
      width: 25%;
      margin-right: 15%;
      margin-left: $col-1;
    }

    ul {
      margin-right: $col-1;
      width: $col-3-content;

      li {
        line-height: 2;
      }

      &:last-child {
        margin-right: $col-1;
      }
    }

    p.small {
      margin-top: 5em;
      margin-bottom: 0;
    }
  }

  .contact {
    form {
      margin-top: 0;
    }

    .left-content {
      width: 20%;
      margin-left: $col-2;
      margin-right: 30% - $col-2;
    }

    .right-content {
      width: 50% - $col-2;
      margin-right: $col-2;
    }
  }

  .about-intro,
  .tip {
    .left-content {
      flex: none;
      width: 50% - $col-1 * 2;
      margin-left: $col-1;
      margin-right: $col-1;
    }

    .right-content {
      width: 50% - $col-1 * 2;
      margin-left: $col-1;
    }
  }

  .tip .right-content {
    margin-left: 0;
  }

  .about-devices {
    .left-content {
      flex: none;
      width: 45% - $col-2;
      margin-left: $col-2;
      margin-right: 5%;

      .iphone {
        margin-top: -6em;
      }
    }

    .right-content {
      width: 45% - $col-2;
      margin-left: 5%;
      margin-right: $col-2;

      .iphone {
        margin-top: 3em;
      }
    }
 }

 .about-history {
   padding-top: 5em;

   h2 {
     width: 65%;
     margin: 0;
   }

   .left-content {
     flex: none;
     width: $col-3-content;
     margin-left: $col-1;
     margin-right: $col-3;

     img {
       margin-bottom: 6em;
     }
   }

   .right-content {
     width: $col-6-content;

     img {
       margin-top: 8em;
     }
   }
 }

 .about-intro {
   padding-bottom: 0;
 }

 .about-setup {
   padding-bottom: 15em;
   padding-top: 5em;
 }

 .setup-item {
   width: 20%;
   position: relative;

   .image-container {
     height: calc(100vw * 0.2);
     max-height: 350px;

     img {
       width: 80%;
       position: absolute;
       top: 40px;
       left: 10%;
       display: block;
     }
   }

   .content-container {
     position: absolute;
     top: 100%;
     left: 0;
     width: 100%;
     padding-top: 1em;
   }

   h2 {
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
   }

   p {
     position: absolute;
     top: calc(100% + .2em);
     left: 0;
     width: 100%;
   }

   &:nth-child(1),
   &:nth-child(2),
   &:nth-child(3) {
     margin-right: 5%;
   }
 }

  .tip img {
    width: 400px;
    max-width: none;
  }
}

@media screen and (min-width:1024px) {
  .calorie-tracking {
    .left-content {
      margin-right: $col-4;
      width: $col-4-content;
    }
  }

  .dashboard-options {
    ul {
      width: 20%;

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(2),
      &:nth-child(4),
      &:nth-child(5) {
        margin-bottom: 4em;
      }

      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(8),
      &:nth-child(9),
      &:nth-child(10) {
        margin-bottom: 0;
      }
    }
  }

  .support {
    .support-items {
      display: flex;
      flex-wrap: nowrap;

      li {
        flex: 1;
        margin-right: 4.5%;
        padding-right: 4.5%;
        width: auto;
      }
    }
  }

  .free-trial {
    padding: 4em 0;

    .left-content {
      padding: 5.5em 0;
    }
  }

  .food-library {
    background-position: 9% 40%;
  }
}

@media screen and (min-width:1200px) {
  .free-trial {
    .left-content {
      padding: 6em 0;
    }
  }

  .apple-health {
    .left-content {
      img {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
      }
    }
  }
}

@media screen and (min-width:1400px) {
  .free-trial {
    .left-content {
      padding: 10em 0;
    }
  }
}
