@import "nav";
@import "mixins";
@import "animation";
@import "utilities";
@import "layout";
@import "type";

html,
body {
  color: $textColorPrimary;
  background-color: $pageBackground;
  @include fontFamily;
  /* Fix for bolder font rendering on Firefox */
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  width: 100vw;
}

body {
  counter-reset: item;
  @include aliasing;
}

/*********************************************
 *********************************************
 *********************************************
 *********************************************
 * Homepage
 *********************************************
 *********************************************
 *********************************************
 *********************************************
 */

.introduction {
  overflow: visible;

  h1, p {
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
  }

  p + .button {
    margin: 2rem 0 4rem;
  }

  .container {
    img {
      max-width: 400px;
    }
  }
}

.why-fuel {
  padding-top: 0;

  li {
    position: relative;
    margin-bottom: $sectionPadding375;
    color: $textColorSecondary;

    .item-title {
      color: $textColorPrimary;
    }

    &:last-child {
      margin-bottom: 0;
    }

    img {
      width: 40px;
      height: 40px;
      display: inline-block;
    }
  }
}

.dashboard-container {
  background: $blackBackground;
}

.dashboard {
  background: $blackBackground;

  h2 {
    color: white;

  }

  .container {
    margin-bottom: 2rem;
    color: white;

    h3 {
      padding-bottom: 1rem;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .right-content {
      margin-bottom: -60%;
    }
  }
}

.dashboard-icons {
  padding: $sectionPadding375 0;
}

.dashboard-overview {
  background: $blackBackground;
  margin-top: -5px;
  padding-top: 0;
  overflow: hidden;

  h2 ,
  .large-number,
  .number-label {
    color: white;
  }
}

.dashboard-stats {
  text-align: left;

  li {
    display: block;
    @include itemSpacingWithPadding(2rem);
  }

  .large-number {
    font-size: 4rem;
    line-height: 1.1;
    display: block;
    letter-spacing: -0.06em;
  }
}

.dashboard-cards {
  margin-top: $sectionPadding375;
  color: $textColorSecondaryOnDark;

  ul {
    text-align: left;
    @include itemSpacingWithPadding(3rem);

    li {
      margin: 0.5em 0;
    }

    strong {
      color: white;
      display: block;
      font-size: 1.4rem;
      padding-bottom: 0.5rem;
    }
  }
}

.weekly-review {
  background: #E9E7F0;

  .left-content {
    p {
      margin-bottom: 0;
    }

    img {
      width: 100%;
      max-width: 500px;
      margin: $sectionPadding375 0 $sectionPadding375 / 2;
    }
  }

  .right-content {
    .iphone {
      max-width: 600px;
      margin: 0 auto;
    }
  }
}

.food-library {
  background: #036BE5;
  color: white;

  ul {
    text-align: left;
    margin-top: 10rem;

    li {
      @include itemSpacingWithPadding(4rem);
    }
  }
}

.repeat-use {
  background: white;

  .container {
    font-size: 0;
    padding-bottom: 0;
  }

  .left-content img {
    width: 100%;
  }

  .right-content img {
    width: 70%;
    @include borderRadius(20px);
  }

  h2 {
    padding-top: $sectionPadding375;
  }

  p {
    padding-bottom: $sectionPadding375;
    margin-bottom: 0;
  }
}

.integrations {
  background: #8F00FF;
  color: white;

  h2 {
    padding-top: $sectionPadding375;
  }
}

.phone-watch {
  position: relative;

  .iphone {
    z-index: 1;
  }
}

.watch-faces {
  padding: $sectionPadding375 *1.5 0 $sectionPadding375*1.5;
  width: 100vw;
  overflow: hidden;

  h3 {
    padding-top: $sectionPadding375 / 2;
  }

  img {
    width: 180%;
    margin-left: -40%;
  }
}

.watch-lay-flat {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 110%;
  z-index: 2;
  transform: translate3d(-50%, 0, 0);
}

.dark-purple {
  padding: 40px;

  h3 {
    padding: 2rem 0 1rem;
  }

  .apple-health-app-icon {
    width: 60px;
    height: 60px;
  }

  .right-content {
    margin-bottom: -60%;
  }
}

.sharing {
  background: white;
  position: relative;
  padding-bottom: 0;
  text-align: center;

  p {
    margin-bottom: $sectionPadding375;
  }

  img {
    position: relative;
    width: 80%;
    max-width: 405px;
    z-index: 2;
  }

  svg {
    max-width: 800px;
    width: 140%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, 30%, 0);
    z-index: 1;
  }

  .image-container {
    font-size: 0;
  }
}

.awards {
  .text-content {
    position: absolute;
    top: 50%;
    left: 15%;
    width: 70%;
    padding: 12em 0;
    transform: translate(0, -50%);
  }

  p {
    display: inline-block;
    width: 100%;
  }

  .awards-container {
    margin-left: -30%;
    width: 160%;
    position: relative;
    -webkit-animation: rotating $awardsRotation linear infinite;
    -moz-animation: rotating $awardsRotation linear infinite;
    -ms-animation: rotating $awardsRotation linear infinite;
    -o-animation: rotating $awardsRotation linear infinite;
    animation: rotating $awardsRotation linear infinite;
    pointer-events: none;

    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }

  .awards-icons {
    position: absolute;
    width: 100%;
    height: 100%;

    li {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -27px 0 0 -27px;
      -webkit-animation: rotatingCounter $awardsRotation linear infinite;
      -moz-animation: rotatingCounter $awardsRotation linear infinite;
      -ms-animation: rotatingCounter $awardsRotation linear infinite;
      -o-animation: rotatingCounter $awardsRotation linear infinite;
      animation: rotatingCounter $awardsRotation linear infinite;

      &:nth-child(1) {
        left: 5%;
      }

      &:nth-child(2) {
        top: 20%;
        left: 20%;
      }

      &:nth-child(3) {
        top: 5%;
      }

      &:nth-child(4) {
        top: 20%;
        left: 80%;
      }

      &:nth-child(5) {
        left: 95%;
      }

      &:nth-child(6) {
        top: 80%;
        left: 80%;
      }

      &:nth-child(7) {
        top: 95%;
      }

      &:nth-child(8) {
        left: 20%;
        top: 80%;
      }
    }
  }
}

.private-by-design {
  padding: 0;
  text-align: center;

  img {
    width: 40%;
  }

  h2 {
    margin-top: 2rem;
  }

  p {
    color: #6D625C;
  }
}

.pricing {
  .footnote {
    padding-top: 2rem;
    display: block;
  }
}

.membership-table {
  margin: $sectionPadding375 / 2 0;

  li {
    color: white;
    text-align: left;
    margin-bottom: 1rem;
    padding: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    span {
      display: block;
    }

    &.white {
      color: $textColorPrimary;
    }

    .membership-price,
    .membership-type {
      font-size: 1.2rem;
    }

    .membership-type {
      padding-bottom: 4rem;
      font-weight: 500;
    }

    .membership-details {
      position: relative;
    }

    .membership-badge {
      position: absolute;
      top: -0.5rem;
      transform: translate3d(0, -100%, 0);
      left: 0;
      background: #FFBC6C;
      color: #000;
      font-weight: 500;
      font-size: 14px;
      padding: 0.2rem 0.5rem;
      @include borderRadius(6px);
    }

    .membership-price {
      font-weight: 500;
    }

    .membership-description {
      opacity: 0.7;
    }
  }
}

.recirculation {
  padding: 0;
  text-align: center;

  img {
    padding-top: $sectionPadding375 / 2;
    width: 40px;
    height: 40px;
  }

  h3 {
    padding: $sectionPadding375 / 2 0 $sectionPadding375;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

.frequently-asked-questions {
  h2 {
    margin-bottom: $sectionPadding375 / 2;
  }
}

.faq {
  text-align: left;

  li {
    padding: 2.5rem 0 2.5rem 0;
    border-bottom: 1px solid $borderColor;

    &:last-child {
      margin-bottom: 0;
    }

    > a {
      display: block;
      padding-right: 2rem;
      background: transparent url("/images/faq_icon_collapsed.png") top right no-repeat;
      background-size: 24px auto;
    }

    .answer {
      padding-top: 2rem;
    }

    &.active {
      > a {
        background: transparent url("/images/faq_icon_expanded.png") top right no-repeat;
        background-size: 24px auto;
      }

      .answer {
        display: block;
      }
    }
  }

  .answer {
    display: none;
    margin-bottom: 0;

    a {
      color: $blueAccessible;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

footer {
  background: $blueAccessible;
  color: white;

  .logo {
    width: 30px;
    height: auto;
  }

  p {
    display: block;

    &:first-child {
      margin-top: $sectionPadding375;
    }
  }

  ul {
    margin-top: 6rem;
  }

  li {
    margin-bottom: 1rem;

    &:first-child {
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.1em;
    }

    a {
      color: white;

      &:hover {
        color: white;
        text-decoration: underline;
      }
    }
  }
}

@media screen and (min-width:767px) {
  .container {
    padding: 60px 120px;
  }

  .dashboard {
    .container {
      @include itemSpacingWithMargin(6rem);
    }
  }

  .dashboard-stats {
    margin-bottom: $sectionPadding768;

    li {
      display: inline-block;
      padding-bottom: 0;
      width: 33%;
    }
  }

  .dashboard-cards {
    vertical-align: top;
    text-align: left;

    ul {
      vertical-align: top;
      width: 33%;
      box-sizing: border-box;
      display: inline-block;
      padding-bottom: 4rem;

      &:nth-child(3),
      &:nth-child(6),
      &:nth-child(9) {
        padding-right: 0;
      }

      &:nth-child(10),
      &:nth-child(11) {
        padding-bottom: 0;
      }
    }
  }

  .food-library {
    ul {
      margin-top: 14em;
      margin-bottom: 0;

      li {
        display: inline-block;
        width: 50%;
        padding-right: 4rem;
        box-sizing: border-box;
        vertical-align: top;
        padding-bottom: 0;

        &:nth-child(1),
        &:nth-child(2) {
          padding-bottom: 6rem;
        }
      }
    }
  }

  .repeat-use {
    padding-left: $col-1;
    padding-right: $col-1;
    box-sizing: border-box;
  }

  .integrations {
    .integrations-intro {
      .left-content,
      .right-content {
        margin: 0 $col-2;
      }
    }

    .container {
      padding: 80px;
      display: flex;

      .iphone {
        width: 200%;
        position: absolute;
        right: 0;
        top: -80px;
        transform: translate3d(50%, 0, 0);
      }

      .left-content {
        width: 30%;
        text-align: left;
        margin-left: 0;
        margin-right: 20%;
      }

      .right-content {
        flex: 1;
        position: relative;
        margin: 0;
      }
    }
  }

  .watch-faces {
    padding: $sectionPadding768 * 1.5 0;
  }

  .membership-table  {
    li {
      padding: 40px;
    }
  }

  .recirculation  {
    padding: 0;

    .container {
      padding: 80px;
      box-sizing: border-box;
    }

    img {
      padding-top: 0;
      width: 60px;
      height: 60px;
    }

    h3 {
      padding: 3rem 0;
    }
  }
}

@media screen and (min-width:1023px) {
  .container {
    padding: 80px;
  }

  .introduction {
    text-align: center;
  }

  .why-fuel {
    padding-top: $sectionPadding768;

    li {
      vertical-align: top;
      display: inline-block;
      width: 25%;
      box-sizing: border-box;
      padding: 0 1rem;
      border-right: 1px solid $borderColor;
      margin-bottom: 0;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border-right: 0;
      }
    }
  }

  .dashboard {
    h2 {
      text-align: center;
    }

    .container {
      padding: 120px 80px;
      @include itemSpacingWithMargin(10rem);

      .left-content {
        margin: auto 10% auto 0;
        width: 40%;
      }

      .right-content {
        margin-bottom: -40%;
        flex: 1;

        .iphone {
          margin-top: -40%;
        }
      }
    }
  }

  .dashboard-overview {
    .display-flex {
      display: block;
    }
  }

  .weekly-review {
    .left-content {
      margin-top: 10%;
      margin-left: $col-1;
      margin-right: $col-1;
      width: $col-4;

      img {
        width: 80%;
      }
    }

    .right-content {
      margin-left: $col-1;
      margin-right: $col-1;
      flex: 1;

      .iphone {
        width: 140%;
        margin-left: -20%;
      }
    }
  }

  .repeat-use {
    padding-left: 0;
    padding-right: 0;

    .left-content {
      flex: 1;
    }

    .right-content {
      margin-left: $col-2;
      margin-right: $col-1;
      width: $col-4;

      img {
        width: 100%;
        @include borderRadius(30px);
      }
    }
  }

  .integrations {
    .integrations-intro {
      .left-content {
        margin-left: $col-2 / 2;
        margin-right: 0;
        flex: 1;

        .iphone {
          width: 120%;
        }
      }

      .right-content {
        margin-top: 10%;
        width: $col-5;
        margin-left: $col-1;
        margin-right: $col-1 / 2;

        p {
          max-width: 400px;
        }
      }
    }

    .watch-faces {
      text-align: center;
      padding: $sectionPadding768 * 1.5 0;

      img {
        width: 110%;
        margin-left: -5%;
      }

      h3 {
        width: $col-8;
        margin: 0 auto;
      }
    }

    .container {
      .right-content {
        min-height: 400px;
      }

      .iphone {
        width: 160%;
        position: absolute;
        left: 0;
        right: auto;
        top: 0;
        transform: translate3d(0, -20%, 0);
      }
    }
  }

  .watch-lay-flat {
    left: 80%;
    width: 140%;
    transform: translate3d(-50%, -25%, 0);
  }

  .sharing {
    h2, p {
      margin-left: auto;
      margin-right: auto;
      width: $col-6;
    }

    svg {
      width: 100%;
    }
  }

  .private-by-design {
    .container {
      padding: 80px 140px;
      margin: 0 $col-1;

      p {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    img {
      width: 240px;
    }
  }

  .pricing {
    text-align: center;
  }

  .membership-table {
    margin: $sectionPadding768 / 2 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;

    li {
      padding: 30px;
      display: inline-block;
      flex: 1;
      margin-right: 10px;
      margin-bottom: 0;

      &:last-child {
        margin-right: 0;
      }

      .membership-type {
        margin-bottom: 2rem;
      }
    }
  }

  .recirculation  {
    .container {
      margin: 0 $col-1;
    }
  }

  .frequently-asked-questions {
    h2 {
      text-align: center;
    }

    .faq {
      margin: 0 $col-1;
    }
  }


  .faq li .answer {
      max-width: $col-8;
  }

  footer {
    position: relative;
    vertical-align: top;

    .logo {
      position: absolute;
      top: 0;
      left: 0;
    }

    .left-content {
      width: 35%;
      margin-right:15%;

      p {
        margin-top: 0;
      }
    }

    ul {
      flex: 1;
      margin-top: 0;
      margin-right: $col-1;

      &:last-child {
        margin-right: 0;
      }
    }

    .left-content,
    ul {
      padding-top: 4rem;
    }
  }
}

@media screen and (min-width:1200px) {
  .introduction .container {
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;

    img {
      max-width: 440px;
      margin: 0 auto;
    }
  }

  .why-fuel {
    padding-top: $sectionPadding1200;

    li {
      padding: 0 2rem;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border-right: 0;
      }
    }
  }

  .dashboard {
    .container {
      @include itemSpacingWithMargin(14rem);

      .left-content {
        margin: auto 10% auto 0;
        width: 35%;
      }
    }
  }

  .dashboard-overview {
    .display-flex {
      display: flex;
    }
  }

  .dashboard-stats {
    width: 40%;

    li {
      display: block;
      width: 100%;
      @include itemSpacingWithPadding(4rem);
    }
  }

  .dashboard-cards {
    flex: 1;
    margin-top: -0.6em;
  }

  .food-library {
    h2 {
      max-width: 720px;
    }
  }

  .integrations {
    .integrations-intro {
      .left-content {
        .iphone {
          width: 100%;
        }
      }

      .right-content {
        p {
          max-width: 460px;
        }
      }
    }

    .container {
      margin: 0 $col-1;
    }

    .left-content {
      width: 40%;
      margin-right: 10%;
    }
  }

  .watch-lay-flat {
    width: 130%;
  }

  .pricing {
    li {
      @include borderRadius(20px);
    }
  }
}

/*********************************************
 *********************************************
 *********************************************
 *********************************************
 * Contact
 *********************************************
 *********************************************
 *********************************************
 *********************************************
 */
.contact {
  h1 {
    margin-bottom: 0.5em;
  }

  label {
    display: block;
    margin-bottom: 1em;
  }

  label + input,
  textarea {
    margin-bottom: 2em;
  }

  input,
  textarea {
    width: 100%;
  }

  textarea {
    width: 100%;
    height: 200px;
  }

  form {
    margin-top: 4em;
    text-align: left;
  }

  .primary {
    margin-top: 2rem;
  }
}

.thank-you {
  padding: 8em 0;
  max-height: 100vh;
  text-align: center;

  .primary {
    margin-top: 2rem;
  }
}

 /*********************************************
  *********************************************
  *********************************************
  *********************************************
  * Features
  *********************************************
  *********************************************
  *********************************************
  *********************************************
  */
.features-intro {
  text-align: center;
  padding-bottom: 0;
  margin-top: 4em;

  h1, p {
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
  }

  img {
    width: 100%;
    max-width: 460px;
    display: block;
    margin: 0 auto 4rem auto;
  }
}

.feature {
  text-align: center;
  width: 100%;
  @include itemSpacingWithMargin(5rem);

  .image-container {
    position: relative;
    margin-bottom: 2rem;
    font-size: 0;
    overflow: hidden;
    background: #EFF2F9;
    @include borderRadius(20px);
    @include maskBorderRadiusWebkit;

    img {
      width: 100%;
      margin-left: 0%;
    }
  }

  h4 {
    margin-bottom: 0.5rem;
  }

  h4, p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    color: $textColorSecondary;
  }
}

.subscription-label {
  font-size: 0.7rem;
  display: inline-block;
  border: 1px solid $borderColor;
  padding: .8em 1em;
  @include borderRadius(6px);
}

.features-continued {
  padding-top: 0;

  h2 {
    margin-left: 0;
  }

  text-align: left;

  ul {
    padding: 4em 0 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    li {
      line-height: 1.5;
      @include box-sizing;
      color: $textColorSecondary;
      @include itemSpacingWithMargin(2rem);

      strong {
        font-weight: 500;
        display: block;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        color: $textColorPrimary;
      }
    }
  }

  .disclosure {
    text-align: center;
  }
}

.supported-platforms {
  h3 {
    margin-bottom: 2rem;
    text-align: center;
  }

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 450px;
    margin: 0 auto;
  }

  li {
    flex: 1;
    text-align: center;
    display: inline-block;
    width: 33%;
    padding: 0 20px;
    box-sizing: border-box;

    img {
      display: block;
      margin: 0 auto 1rem auto;
      width: 100%;
      max-width: 80px;
    }
  }
}

 /*********************************************
  *********************************************
  *********************************************
  *********************************************
  * Tips
  *********************************************
  *********************************************
  *********************************************
  *********************************************
  */
.tips {
  text-align: center;

  h1 {
    margin-bottom: 1rem;
  }

  h1 + p {
    margin-bottom: 8rem;
  }

  .container {
    margin: 0 0 2rem 0;
    background: white;
    text-align: center;

    h2 {
      padding: 2rem 0 3rem;
    }

    img {
      width: 50px;
      height: 50px;
      display: inline-block;
    }

    p, ul, blockquote {
      text-align: left;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .references {
    margin-top: 4rem;

    a {
      font-size: 0.8rem;
    }
  }
}

@media screen and (min-width:768px) {
  .awards {
    text-align: center;

    .awards-container {
      width: 80%;
      margin-left: 10%;
    }

    .text-content {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 300px;
      padding: 12em 0;
      transform: translate(-50%, -50%);
    }
  }

  .contact {
    width: auto;
    text-align: center;
    margin-left: $col-3;
    margin-right: $col-3;
  }

  .contact {
    input[type="submit"]{
      width: auto;
    }
  }

  .features-continued {
    ul {
      padding-top: 6em;

      li {
        width: 50%;
        @include itemSpacingWithMargin(3rem);

        &:nth-child(odd) {
          padding-right: 30px;
        }

        &:nth-child(even) {
          padding-left: 30px;
        }
      }
    }
  }

  .supported-platforms {
    h3 {
      margin-bottom: 4rem;
    }
  }
}

@media screen and (min-width:1024px) {
  .awards {
    .text-content {
      width: 280px;
    }

    .awards-container {
      width: 60%;
      margin-left: 20%;
    }

    .awards-icons li {
      margin: -35px 0 0 -35px;

      img {
        width: 70px;
        height: 70px;
      }
    }
  }

  .feature {
    @include itemSpacingWithMargin(8rem);
  }

  .features-intro {
    margin-top: 0;
  }

  .features-continued {
    ul {
      padding-top: 8rem;

      li {
        width: 33%;

        &:nth-child(odd) {
          padding-right: 0;
        }

        &:nth-child(even) {
          padding-left: 0;
        }

        &:nth-child(3n + 1) {
          padding-right: 50px;
        }

        &:nth-child(3n + 2) {
          padding-left: 25px;
          padding-right: 25px;
        }

        &:nth-child(3n + 3) {
          padding-left: 50px;
        }
      }
    }
  }

  .tips {
    .container {
      margin-left: $col-1;
      margin-right: $col-1;
    }
  }
}

@media screen and (min-width:1200px) {
  .feature {
    @include itemSpacingWithMargin(10rem);
    margin-left: $col-1;
    margin-right: $col-1;
    width: auto;
  }
}
