@import "colors";
@import "mixins";

$col-1: 9%;
$col-2: 17%;
$col-3: 25.5%;
$col-4: 33.88%;
$col-5: 40.45%;

$col-2-content: 12.5%;
$col-3-content: 21.5%;
$col-4-content: 29.4%;
$col-5-content: 37.2%;
$col-6-content: 45%;

li {
  list-style: none;
}

em {
  font-style: italic;
  text-transform: none;
}

.block {
  display: block;
}

.bold {
  font-weight: 600;
}

.optional-new-line {
  display: inline;
}

.centered {
  text-align: center;
}

section {
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

.will-reveal {
  opacity: 0;
  transform: translate3d(0px, 50px, 0px);
}

a.button {
  padding: 1em 2em;
  background: $darkBackground;
  color: white;
  display: inline-block;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0);
  @include borderRadius(30px);
  @include transition(all, 200ms, ease-in-out);

  &.light {
    background: $lightBackground;
    color: $textColorPrimary;
  }

  &:hover {
    background: #454545;
    color: white;
    text-decoration: none;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.3);
  }
}

/**
 * No Script States
 */
.no-js  {
  .answer {
    display: block;
  }

  .question .arrow,
  .invisible {
    display: none;
  }

  .introduction .large-text {
    padding-top: 12em;
  }
}

/* Removed with JS for noscript support*/
.hidden {
  display: none;
}

.lazy-load {
  transition: opacity .25s ease-in-out;
}

::selection {
  background: $selectionColor;
}

::-moz-selection {
  background: $selectionColor;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #b1b1b1;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #b1b1b1;
  opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #b1b1b1;
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #b1b1b1;
}

:placeholder-shown {
  color: #b1b1b1;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

img {
  transition: opacity .2s ease-out, transform .2s ease-in-out;
  @include translate3d(0px, 0px, 0px);
  opacity: 1;

  &.invisible {
    opacity: 0;
  }

  &.full-width {
    width: 100%;
  }
}

.iphone {
  position: relative;
}

.device-bezel {
  width: 100%;
  position: relative;
  z-index: 2;
}

.device-media {
  position: absolute;
  width: 76.8%;
  left: 11.55%;
  z-index: 1;
  top: 6.15%;
}

/** Global Elements **/
section {
  overflow: hidden;
  padding: 6em 0;
  background: $lightBackground;
  position: relative;
  z-index: 1;
  @include overflowfix;

  &.has-background {
    padding: 4em 0;
  }

  &.no-padding {
    padding: 0;
  }
}

.device-bezel {
  width: 100%;
}

hr.light {
  border: 0;
  border-top: 1px solid #454545;
}

hr {
  border: 0;
  border-top: 1px solid $borderColor;
}

@media screen and (min-width:768px) {
  .display-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;

    .left-content {
      flex: 1;
    }

    .right-content {

    }
  }

  section {
    padding: 8em 0;

    &.has-background {
      padding: 5em 0;
    }
  }

  .content-wrapper.padding-top {
    padding-top: 5em;
  }
}

@media screen and (min-width:1200px) {
  section {
    padding: 10em 0;

    &.has-background {
      padding: 6em 0;
    }
  }

  .content-wrapper.padding-top {
    padding-top: 6em;
  }
}
