@import "colors";
@import "mixins";

li {
  list-style: none;
}

em {
  font-style: italic;
  text-transform: none;
}

.diff {
  padding: 0 6px;
  @include borderRadius(6px);

  &.removed {
    background: #FEE5E5;
    color: #6F0000;
    margin-bottom: 2px;
  }

  &.added {
    background: #D1F6D5;
    color: #002F0D;
  }
}

.optional-new-line {
  display: inline;
}

.will-reveal {
  opacity: 0;
  transform: translate3d(0px, 50px, 0px);
}

.button,
button {
  background:transparent;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  padding: 1.2em 3em;
  display: inline-block;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.03);
  @include borderRadius(2em);
  @include transition(all, 150ms, ease-in-out);

  &:hover {
    text-decoration: none;
    transform: translate3d(0, -2px, 0);
    box-shadow: 0 18px 30px rgba(0, 0, 0, 0.1);
  }

  &.black {
    border-color: transparent;
    background: #000;
    color: white;

    &:hover {
      background: #333;
    }
  }

  &.white {
    border-color: transparent;
    background: #fff;
    color: $blue;
  }

  &.primary {
    border-color: transparent;
    background: $blue;
    color: white;

    &:hover {
      background: #0059C1;
    }
  }

  &.secondary {
    border: 1px solid $blue;
    background: transparent;
    color: $blue;

    &:hover {
      background: $blue;
      color: white;
    }
  }
}

/* Lists */
li {
  .item-title,
  .item-subtitle {
    display: block;
  }

  .item-title {
    font-size: 1.75rem;
    padding: 1rem 0;
  }
}

/* 1 Number fix */
.one-number-fix {
  margin-left: -0.5rem;
}

.force-new-line {
  display: block;
}

/* Dashboard Icons */
$trendIconPadding: 5px;
$trendIconPadding768: 10px;

.dashboard-icons {
  width: 1200px;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate3d(-50%, 0, 0);

  li {
    display: inline-block;
    margin: 0 $trendIconPadding;
    padding: 0.5rem 1rem;
    font-size: 0;
    @include borderRadius(3rem);

    img {
      width: 20px;
      height: 20px;
    }

    &.trend-icon {
      background-color: #0040E6;
      margin-bottom: $trendIconPadding;
    }

    &.insight-icon {
      background-color: #8F00FF;
      margin-bottom: $trendIconPadding;
    }

    &.dumbbell-icon {
      background-color: #33A986;
      margin-bottom: $trendIconPadding;
    }

    &.watcher-icon {
      background-color: #5E616B;
      margin-bottom: $trendIconPadding;
    }

    &.fire-icon {
      background-color: #B42E48;
    }

    &.cupcake-icon {
      background-color: #0040E6;
    }

    &.award-icon {
      background-color: #A58000;
    }
  }
}

/* Container */
.container {
  &.light-blue {
    background: $lightBlue;
  }

  &.blue {
    background: $blue;
  }

  &.light-blue-accessible {
    background: #036BE5;
  }

  &.blue-accessible {
    background: $blueAccessible;
  }

  &.purple {
    background: #8F00FF;
  }

  &.pink {
    background: #CE1DC7;
  }

  &.sky-blue {
    background: #BFD9FF;
  }

  &.dark-purple {
    background: #6E00C4;
  }

  &.cream {
    background: #FEF9F7;
  }

  &.white {
    background: white;
  }

  &.baby-blue {
    background: #CDDBFF;
  }
}

/**
 * No Script States
 */
.no-js  {
  .lazy-load {
    display: none;
  }

  .faq {
    li:after {
      background-image: none;
    }

    a {
      pointer-events: none;
    }
  }

  .faq .answer {
    display: block;
  }
}

.references {
  li {
    margin-bottom: 1.5em;
    padding-left: 24px;
    font-size: 0.8rem;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      position: absolute;
      top: 50%;
      transform: translate3d(0, -50%, 0);
      left: 0;
      content: url("../images/link_icon.svg");
      width: 16px;
      height: 16px;
    }
  }

  a {
    color: $textColorSecondary;
    line-height: 1.5;

    &:hover {
      color: $textColorPrimary;
      text-decoration: none;
    }
  }
}

/* Removed with JS for noscript support*/
.hidden {
  display: none;
}

.lazy-load {
  transition: opacity .25s ease-in-out;
}

img {
  transition: opacity .2s ease-out, transform .2s ease-in-out;
  @include translate3d(0px, 0px, 0px);
  opacity: 1;

  &.invisible {
    opacity: 0;
  }
}

/* Device */
.iphone {
  position: relative;
}

.device-bezel {
  width: 100%;
  position: relative;
  z-index: 2;
}

.device-media {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 11% 11.6% 5%;
  width: 100%;
  @include borderRadius(20px);
  @include box-sizing;
}

/* Selection */
::selection {
  background: $selectionColor;
}

::-moz-selection {
  background: $selectionColor;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #b1b1b1;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #b1b1b1;
  opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #b1b1b1;
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #b1b1b1;
}

:placeholder-shown {
  color: #b1b1b1;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@media screen and (max-width:768px) {
  .text-wrap {
    display: inline-block;
  }
}

@media screen and (min-width: 375px) {
  .dashboard-icons {
    li {
      padding: 1rem 2rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .display-block {
    display: block;
  }

  .dashboard-icons {
    li {
      margin: 0 $trendIconPadding768;
    }
  }
}
